.main-content {
  height: 100vh;
  width: 100%;
  font-family: 'eczarRegular';
  display: flex;
  flex-direction: column;
  padding-top: 170px;
  padding-right: 80px;
  max-width: 2000px;
}


h1 {
  font-family: 'eczarBold';
  font-size: clamp(36px, 4vw, 72px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1900px;
}

.comments {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  max-width: 1736px;

  gap: 32px;
  height: 472px;
  margin-top: 72px;
}

.comments>app-colleague-comment:nth-child(1) {
  align-self: flex-start;
}

.comments>app-colleague-comment:nth-child(2) {
  align-self: center;
}

.comments>app-colleague-comment:nth-child(3) {
  align-self: flex-end;
}