.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  min-height: 100dvh;
  max-width: 2040px;
  width: 100vw;
  position: relative;
  margin: 0 auto;

  @media screen and (max-width: 900px) {
    width: 100vw;
  }

  @media screen and (max-width: 600px) {}

  @media screen and (max-height: 905px) {
    justify-content: start;
  }
}


h1 {
  font-family: 'eczarBold';
  font-size: clamp(24px, 5vw, 72px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1900px;
  padding-top: 100px;

  @media screen and (max-width: 900px) {
    justify-content: start;
    width: 90%;
    padding-top: 0px;
  }

  @media screen and (max-height: 695px) {
    margin-bottom: 2px;
    padding-top: 0px;
  }
}

.comments {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  max-width: 1736px;
  gap: 32px;
  margin-top: 72px;
  height: 50vh;

  @media screen and (max-width: 1100px) {
    gap: 16px;
    margin-top: 32px;
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
    width: 100%;
    align-items: stretch;
  }

  @media screen and (max-width: 690px) {}

  @media screen and (max-height: 770px) {
    margin-top: 6px;
  }

  @media screen and (max-height: 733px) {
    gap: 4px;
  }
}

.comments>app-colleague-comment {
  flex: 1 1 auto;
}

.comments>app-colleague-comment:nth-child(1) {
  align-self: flex-start;
}

.comments>app-colleague-comment:nth-child(2) {
  align-self: center;
}

.comments>app-colleague-comment:nth-child(3) {
  align-self: flex-end;
}