.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  min-height: 100dvh;
  min-height: calc(var(--vh, 1vh) * 100);
  max-width: 2040px;
  width: 100%;
  position: relative;
  margin: 0 auto;

  @media screen and (max-width: 900px) {
    width: 100%;
  }



  @media screen and (max-height: 905px) {
    justify-content: start;
    padding-top: 5rem;

  }


  @media screen and (max-height: 733px) {
    padding-left: 8px;

  }

  @media (max-height: 700px) {
    max-width: 1500px;
    width: 90%;

    @media screen and (max-width: 1150px) {
      width: 85%;
    }

    @media screen and (max-width: 690px) {
      width: 100%;
    }

    @media screen and (max-width: 510px) {
      padding-top: 3.3rem;
    }
  }
}


h1 {
  font-family: 'eczarBold';
  font-size: clamp(22px, 5vw, 72px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1900px;
  padding-top: clamp(24px, 1vw, 72px);

  @media screen and (max-width: 900px) {
    justify-content: start;
    width: 100%;
    padding-top: 0px;
    margin-bottom: 2px;

  }

  @media screen and (max-height: 695px) {
    margin-bottom: 20px;

    @media screen and (max-width: 450px) {
      margin-bottom: 2px;
    }

  }
}

.comments {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  max-width: 1736px;
  gap: 32px;
  margin-top: 72px;
  height: 50vh;

  @media screen and (max-width: 1100px) {
    gap: 16px;
    margin-top: 32px;
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
    width: 100%;
    align-items: stretch;
  }

  @media screen and (max-height: 770px) {
    margin-top: 6px;
  }

  @media screen and (max-height: 733px) {}
}

.comments>app-colleague-comment {
  flex: 1 1 auto;
}

.comments>app-colleague-comment:nth-child(1) {
  align-self: flex-start;
}

.comments>app-colleague-comment:nth-child(2) {
  align-self: center;
}

.comments>app-colleague-comment:nth-child(3) {
  align-self: flex-end;
}