<div class="main-content">
  <h1>{{ translations.title[currentLang] }}</h1>

  <div class="aboutMeSection">
    <img class="aboutMeImg" src="assets/img/aboutMe.jpg" alt="About me Image">

    <div class="aboutMeContainer">
      <span [innerHTML]="translations.intro[currentLang]"></span>


      <div>
        <button mat-button (click)="scrollToContact()" class="conectBtn">
          {{ translations.button[currentLang] }}
        </button>
        <div class="emoji-wrapper">
          <img src="assets/img/6. Secret info Emojis.png" alt="Secret Emoji" (click)="togglePanel()"
            class="floating-emoji" (click)="togglePanel()">

          <div class="secret-info-panel">
            <div class="secret-info-panel-header">
              <h3>{{ translations.secretTitle[currentLang] }}</h3>
              <button mat-icon-button class="close-btn" (click)="closePanel()">
                <img src="assets/icons/closeWhite.png" alt="Close" />
              </button>
            </div>
            <ul class="USP mat-checklist">
              <li *ngFor="let t of translations.traits[currentLang]">
                <mat-icon [fontIcon]="t.icon"></mat-icon> {{ t.text }}
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>