<div class="main-content">
    <h1>Über mich</h1>
    <div class="aboutMeSection">
        <img class="aboutMeImg" src="assets/img/aboutMe.jpg" alt="About me Image">
        <div class="aboutMeContainer">
            <span>Hey, ich bin Stanislav.<br>
                Schon während meiner Ausbildung zum Mechaniker habe ich beim Arbeiten mit CNC-Maschinen gemerkt, wie
                viel Spaß mir das Programmieren macht. Logisches Denken liegt mir, und schnell wurde mir klar, dass in
                der Industrie ein riesiger Bedarf an Automatisierung besteht. Durch meine Arbeit habe ich viele Firmen
                kennengelernt und gesehen, dass die Menge an Daten mit den alten Herangehensweisen kaum noch zu
                bewältigen ist – hier steckt enormes Potenzial für moderne IT-Lösungen.
               </span>
            <div>
                <button mat-button (click)="scrollToBottom.emit()" class="conectBtn">Schreib mir</button>
                <img src="assets/img/6. Secret info Emojis.png" alt="Secret Emoji" class="floating-emoji">
                 <div class="secret-info-panel">
                <h3>Mehr über mich</h3>
                <ul class="USP mat-checklist">
                    <li> <mat-icon fontIcon="check_circle"></mat-icon>
                        Analytisch</li>
                    <li> <mat-icon fontIcon="check_circle"></mat-icon>
                        Kreativ</li>
                    <li> <mat-icon fontIcon="check_circle"></mat-icon>
                        Teamplayer</li>
                    <li> <mat-icon fontIcon="check_circle"></mat-icon>
                        Detailverliebt</li>
                    <li> <mat-icon fontIcon="check_circle"></mat-icon>
                        Motiviert</li>
                    <li> <mat-icon fontIcon="check_circle"></mat-icon>
                        Neugierig</li>
                </ul>
            </div>
            
            </div>

       

        </div>
    </div>

</div>