h1 {
    font-family: "eczarBold";
    font-size: clamp(36px, 5vw, 72px);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: unset;
    padding-right: 80px;

    @media screen and (max-width: 1110px) {
        padding-right: 0px;
    }

    @media screen and (max-width: 690px) {
        margin-bottom: 8px;
    }
}

.conectBtn {
    font-family: 'quicksandBook';
    font-weight: 700;
    font-size: clamp(14px, 1.2vw, 18px);
    width: clamp(133px, 15vw, 200px);
    height: clamp(36px, 5vh, 44px);
    line-height: 120%;
    border: solid #F8F7E5 1px;
    padding: clamp(16px, 2vh, 40px) clamp(18px, 3vw, 32px);
    border-radius: 100px;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s;
    background-color: #1D1D1D;
    color: #F8F7E5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
        background-color: #FF834F;
    }
}

.aboutMeContainer>div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

h3 {
    font-family: 'QuicksandBold';
    font-size: clamp(18px, 2vw, 24px);
    margin-bottom: 0%;
}

.secret-info-panel {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, 100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.5s cubic-bezier(.21, 1.11, .84, .86), opacity 0.35s;
    background: #679AAC;
    color: #F8F7E5;
    width: clamp(204px, 24vw, 272px);
    padding: clamp(24px, 2vw, 32px);
    padding-top: 12px;
    border-radius: 4px;
    border: #1D1D1D solid 1px;
    box-shadow: 0 8px 32px #2222;
    font-size: clamp(14px, 1.2vw, 18px);
    font-family: 'quicksandBook';
    right: -318%;
    bottom: -292px;
    z-index: 1;

    @media (max-height: 900px) {
        @media screen and (max-width: 530px) {
            bottom: 12vh;
            right: -100%;
        }
    }
}

.secret-info-panel-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 8px;
}

.close-btn {
    width: clamp(20px, 2vw, 24px);
    display: none;

    @media screen and (max-width: 690px) {
        display: block;
        cursor: pointer;
        bottom: 20px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .close-btn {
        display: none;
    }
}

.floating-emoji {
    width: clamp(32px, 3vw, 40px);
    animation: floatUpDown 2.2s ease-in-out infinite;
    will-change: transform;
    z-index: 1;
    position: relative;

    &:hover {
        animation-play-state: paused;
        filter: brightness(1.2) drop-shadow(0 2px 6px #0002);
        cursor: pointer;
    }
}

.emoji-wrapper {
    position: relative;

    .floating-emoji:hover+.secret-info-panel {
        opacity: 1;
        transform: translate(-50%, 0%);
        pointer-events: auto;

        @media screen and (max-width: 690px) {
            transform: translate(-22vw, 0%);
        }
    }
}

.USP {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mat-checklist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mat-checklist li {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: clamp(14px, 1.1vw, 18px) !important;
}

.material-icons {
    font-size: clamp(20px, 2vw, 24px) !important;
}