.main-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    min-height: 100dvh;
    width: 100vw;
    max-width: 1920px;
    position: relative;
    z-index: auto;
    transform: none;
    filter: none;
    padding: 10rem 82px 0px 58px;

    @media screen and (max-width: 690px) {
        flex-direction: column;
        padding: 5rem 56px 0px 3px;
    }

    @media (max-height: 990px) {
        max-width: 1500px;
    }

    @media (max-height: 700px) {
        padding: 7rem 56px 0px 3px;

        @media screen and (max-width: 690px) {
            flex-direction: column;
            padding: 6rem 56px 0px 3px;
        }
    }
}

.aboutMeImg {
    width: 950px;
    position: absolute;
    bottom: 0px;
    left: 44px;

    @media screen and (max-width: 1540px) {
        width: 58%;
    }

    @media screen and (max-width: 1350px) {
        width: 65%;
    }

    @media screen and (max-width: 1200px) {
        width: 72%;
    }

    @media screen and (max-width: 1150px) {
        width: 72%;
    }

    @media screen and (max-width: 930px) {
        bottom: unset;
        top: 11rem;
        width: 50%;
    }

    @media screen and (max-width: 400px) {
        width: 60%;
        left: 34px;
    }

    @media (max-height: 1380px) {
        width: 850px;

        @media screen and (max-width: 1540px) {
            width: 58%;
        }

        @media screen and (max-width: 1350px) {
            width: 65%;
        }

        @media screen and (max-width: 1200px) {
            width: 72%;
        }

        @media screen and (max-width: 1150px) {
            width: 72%;
        }

        @media screen and (max-width: 930px) {
            bottom: unset;
            top: 11rem;
            width: 50%;
        }

        @media screen and (max-width: 400px) {
            width: 60%;
            left: 34px;
        }
    }

    @media (max-height: 1280px) {
        width: 750px;

        @media screen and (max-width: 1540px) {
            width: 58%;
        }

        @media screen and (max-width: 1350px) {
            width: 60%;
        }

        @media screen and (max-width: 1200px) {
            width: 68%;
        }

        @media screen and (max-width: 930px) {
            bottom: unset;
            top: 11rem;
            width: 50%;
        }

        @media screen and (max-width: 400px) {
            width: 60%;
            left: 34px;
        }
    }

    @media (max-height: 1132px) {
        width: 650px;

        @media screen and (max-width: 1540px) {
            width: 49%;
        }

        @media screen and (max-width: 1350px) {
            width: 52%;
        }

        @media screen and (max-width: 1200px) {
            width: 55%;
        }

        @media screen and (max-width: 930px) {
            bottom: unset;
            top: 11rem;
            width: 50%;
        }

        @media screen and (max-width: 400px) {
            width: 60%;
            left: 34px;
        }
    }

    @media (max-height: 990px) {
        width: 600px;

        @media screen and (max-width: 1540px) {
            width: 43%;
        }

        @media screen and (max-width: 1350px) {
            width: 49%;
        }

        @media screen and (max-width: 1200px) {
            width: 52%;
        }

        @media screen and (max-width: 930px) {
            bottom: unset;
            top: 11rem;
            width: 50%;
        }

        @media screen and (max-width: 400px) {
            width: 60%;
            left: 34px;
        }
    }

    @media (max-height: 934px) {
        width: 500px;

        @media screen and (max-width: 1540px) {
            width: 40%;
        }

        @media screen and (max-width: 1350px) {
            width: 38%;
        }

        @media screen and (max-width: 1200px) {
            width: 45%;
        }

        @media screen and (max-width: 930px) {
            width: 57%;
        }

        @media screen and (max-width: 400px) {
            width: 60%;
            left: 34px;
        }
    }

    @media (max-height: 890px) {
        @media screen and (max-width: 1540px) {
            width: 35%;
        }

        @media screen and (max-width: 530px) {}
    }

    @media (max-height: 780px) {
        width: 420px;

        @media screen and (max-width: 930px) {
            width: 51%;
        }

        @media screen and (max-width: 400px) {
            width: 60%;
            left: 34px;
        }
    }
}

.aboutMeContainer {
    padding: 24px;
    flex: 1;
    background-color: #1D1D1D;
    color: #F8F7E5;
    font-family: "quicksandBook";
    font-size: clamp(14px, 1.2vw, 18px);
    line-height: 1.4;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: flex-start;
    position: relative;
    right: 50px;
    top: 209px;

    @media screen and (max-width: 1350px) {
        right: 50px;
    }

    @media screen and (max-width: 690px) {
        right: -50px;
    }

    @media screen and (max-width: 530px) {
        top: 225px;
    }

    @media screen and (max-height: 990px) {
        top: 109px;
    }

    @media (max-height: 934px) {
        top: 260px;
    }

    @media (max-height: 890px) {
        top: 100px;

        @media screen and (max-width: 530px) {
            top: 265px;
        }
    }
}

.aboutMeSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 55%;
    gap: 40px;

    @media screen and (max-width: 1540px) {
        width: 45%;
    }

    @media screen and (max-width: 1100px) {
        gap: 20px;
    }

    @media screen and (max-width: 800px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    @media screen and (max-width: 690px) {
        width: 60%;
    }

    @media screen and (max-width: 530px) {
        width: 100%;
    }

    @media (max-height: 1132px) {
        width: 67%;

        @media screen and (max-width: 1540px) {
            width: 45%;
        }

        @media screen and (max-width: 1100px) {
            gap: 20px;
        }

        @media screen and (max-width: 800px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
        }

        @media screen and (max-width: 690px) {
            width: 60%;
        }

        @media screen and (max-width: 530px) {
            width: 100%;
        }
    }

    @media (max-height: 990px) {
        width: 64%;

        @media screen and (max-width: 1540px) {
            width: 55%;
        }

        @media screen and (max-width: 1100px) {
            gap: 20px;
        }

        @media screen and (max-width: 800px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
        }

        @media screen and (max-width: 690px) {
            width: 60%;
        }

        @media screen and (max-width: 530px) {
            width: 100%;
        }
    }


    @media (max-height: 840px) {
        width: 68%;

        @media screen and (max-width: 1540px) {
            width: 60%;
        }

        @media screen and (max-width: 1100px) {
            gap: 20px;
        }

        @media screen and (max-width: 930px) {
            width: 46%;
        }

        @media screen and (max-width: 800px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
        }

        @media screen and (max-width: 690px) {
            width: 60%;
        }

        @media screen and (max-width: 530px) {
            width: 100%;
        }
    }

    @media (max-height: 780px) {
        width: 60%;

        @media screen and (max-width: 930px) {
            width: 55%;
        }

        @media screen and (max-width: 690px) {
            width: 60%;
        }

        @media screen and (max-width: 530px) {
            width: 100%;
        }
    }
}