<div class="main-content">
    <img class="aboutMeImg" src="assets/img/aboutMe.JPEG" alt="About me Image">
    <div class="aboutMeContainer">
        <span>Hey there, I'm Stanislav. Write some information about yourself that
            is IT related. Why are you passionate
            about coding? What is your source of inspiration for improving
            your programming skills? Do you learn from
            each challenge as you search for the most efficient or elegant
            solution?
            Let's connect and create something amazing together!</span>
        <div>
            <button mat-button class="conectBtn">Let´s Talk</button>
            <img src="assets/img/6. Secret info Emojis.png" alt="Arrow Icon">
        </div>
    </div>
    <h1>About me</h1>
</div>