.main-content {
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;
    min-height: 100dvh; // statt feste Höhe
    max-width: 1888px;
    padding: 50px 2vw;
    padding-bottom: 0px;
}

h1 {
    font-family: "eczarBold";
    font-size: clamp(36px, 5vw, 72px);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1900px;
    padding: 100px 160px 0 0;

    @media screen and (max-width: 1100px) {}
}

/* ---------------- About Me ---------------- */
.aboutMeSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 40px;

    @media screen and (max-width: 1100px) {
        gap: 0px;
    }

    @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
}

.conectBtn {
    font-family: 'quicksandBook';
    font-weight: 700;
    font-size: 18px;
    width: 198px;
    height: 40px;
    line-height: 120%;
    border: solid #F8F7E5 1px;
    padding: 12px 24px;
    border-radius: 100px;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s;
    background-color: #1D1D1D;
    color: #F8F7E5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: #FF834F;
    }
}

.aboutMeImg {
    max-width: 640px;
    width: 41%;

    @media screen and (max-width: 1300px) {
    }

    @media screen and (max-width: 900px) {
    
    }
}

.aboutMeContainer {
    padding: 32px;
    flex: 1;
    background-color: #1D1D1D;
    color: #F8F7E5;
    font-family: "quicksandBook";
    font-size: clamp(14px, 1.2vw, 18px);
    line-height: 1.4;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translateX(-150px) translateY(50px);

    align-self: flex-start;

    @media screen and (max-width: 1550px) {
        transform: translateX(-150px) translateY(50px);
    }
}


.aboutMeContainer>div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

/* ---------------- Secret Info ---------------- */
h3 {
    font-family: 'QuicksandBold';
    font-size: 24px;
}

.secret-info-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: transform 0.5s cubic-bezier(.21, 1.11, .84, .86), opacity 0.35s;
    background: #679AAC;
    color: #F8F7E5;
    width: 272px;
    height: 263px;
    border-radius: 4px;
    border: #1D1D1D solid 1px;
    box-shadow: 0 8px 32px #2222;
    padding: 32px;
    font-size: 16px;
    font-family: 'quicksandBook';
    right: 0;
    bottom: -280px; // unterhalb des Emojis
}

.floating-emoji {
    animation: floatUpDown 2.2s ease-in-out infinite;
    will-change: transform;

    &:hover {
        animation-play-state: paused;
        filter: brightness(1.2) drop-shadow(0 2px 6px #0002);
        cursor: pointer;
    }
}

.emoji-wrapper {
    position: relative;

    .floating-emoji:hover+.secret-info-panel {
        opacity: 1;
        transform: translate(-50%, 0%);
        pointer-events: auto;
    }
}

.USP {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mat-checklist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mat-checklist li {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.1em;
}