html,
body {
  background-color: #1D1D1D;
}

.main-content {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  background-color: #1D1D1D;
  width: 100%;
  height: 100%;
  padding-bottom: 180px;
  max-width: 1920px;


  @media screen and (max-width: 1140px) {
    padding-right: 20px;
    padding-left: 42px;
  }

  @media screen and (max-width: 900px) {
    padding-right: 20px;
    padding-left: 42px;
  }

  @media screen and (max-width: 690px) {
    padding-right: 6px;
    padding-left: 6px;
  }

  h1 {
    font-size: clamp(32px, 4vw, 72px);
    font-family: 'eczarBold';
    line-height: 100%;
    color: #F9AF42;
    margin-bottom: 64px;
    width: 530px;
    max-width: 1816px;
    padding-right: 80px;

    @media screen and (max-width: 690px) {
      margin-bottom: 8px;
      width: unset;
      padding-right: unset;
    }
  }

  h2 {
    color: #FF834F;
    font-weight: 700;
    font-size: clamp(18px, 1.5vw, 24px);
    max-width: 1816px;
    padding-right: 80px;

    @media screen and (max-width: 690px) {
      margin-bottom: 8px;
      width: unset;
      padding-right: unset;
    }
  }

  p {
    font-family: 'quicksandBook';
    font-size: clamp(16px, 1.5vw, 24px);
    line-height: 120%;
    color: #F8F7E5;
    max-width: 1816px;
    padding-right: 80px;

    @media screen and (max-width: 690px) {
      margin-bottom: 8px;
      width: unset;
      padding-right: unset;
    }
  }
}