<div class="main-content">
  <h1>{{ translations.title[currentLang] }}</h1>

  <p>{{ translations.section1[currentLang] }}</p>

  <p>
    Stanislav Levin<br />
    Rietgasse 6<br />
    78050 VS-Villingen<br />
    Deutschland
  </p>

  <p>
    {{ translations.contact[currentLang] }}<br />
    Telefon: +49 (0)15154948871<br />
    E-Mail: stanislav&#64;1994live.de<br />
  </p>

  <p>
    {{ translations.responsible[currentLang] }}<br />
    Stanislav Levin<br />
    Rietgasse 6<br />
    78050 VS-Villingen<br />
    Deutschland
  </p>

  <h2>{{ translations.disclaimerTitle[currentLang] }}</h2>
  <p>{{ translations.disclaimerText[currentLang] }}</p>

  <h2>{{ translations.copyrightTitle[currentLang] }}</h2>
  <p>{{ translations.copyrightText[currentLang] }}</p>

  <app-footer variant="impressum"></app-footer>
</div>
