<div class="header">
    <div class="socialLinks">
        <img style="color: black;" src="assets/icons/githubIcon.png">
        <img style="color: black;" src="assets/icons/linkedInIcon.png">
        <img style="color: black;" src="assets/icons/emailIcon.png">
    </div>
    <div class="logoHeader">
        <img class src="assets/img/logo.png">
        <p>Stanislav Levin</p>
    </div>
    <div class="settings">
        <button>EN</button>
        <div class="burgerMenu">|||</div>
    </div>
</div>