<mat-sidenav-container class="sidenavContainer" [ngClass]="themeClass" [attr.data-theme]="themeClass">
  <mat-sidenav #sidenav class="sidenav" mode="over" position="end">
    <div class="sidenavHeader">
      <span>Menu</span>
      <button mat-icon-button class="close-btn" (click)="sidenav.close()">
        <img src="assets/icons/closeMenu.png" alt="Close" />
      </button>
    </div>

    <mat-nav-list class="navList" *ngIf="variant==='home'">
      <a mat-list-item *ngFor="let s of sections" [class.active]="s.id === currentSection"
        (click)="navigateTo(s.id); sidenav.close()">
        <div class="nav-item-content">
          <img class="nav-icon" src="assets/icons/navListIcon.png" alt="icon" />
          <span>{{ s.label }}</span>
        </div>
      </a>
    </mat-nav-list>

    <mat-nav-list class="navList" *ngIf="variant === 'legal'">
      <a mat-list-item (click)="navigateAndScroll(['/'])">
        <div class="nav-item-content">
          <img class="nav-icon" src="assets/icons/navListIcon.png" alt="icon" />
          <span>Home</span>
        </div>
      </a>

      <a mat-list-item (click)="navigateAndScroll(['/legal', 'impressum'])">
        <div class="nav-item-content">
          <img class="nav-icon" src="assets/icons/navListIcon.png" alt="icon" />
          <span>Impressum</span>
        </div>
      </a>

      <a mat-list-item (click)="navigateAndScroll(['/legal', 'privacy-policy'])">
        <div class="nav-item-content">
          <img class="nav-icon" src="assets/icons/navListIcon.png" alt="icon" />
          <span>Datenschutz</span>
        </div>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar class="mainToolbar">
    <div class="sidenavSpacer">
      <div class="sidenavSpacerInner">
        <div class="socialLinks">
          <a href="https://github.com/StanislavLe" target="_blank" rel="noopener noreferrer">
            <img src="assets/icons/githubIcon.png" alt="GitHub" />
          </a>
          <a href="https://www.linkedin.com/in/stanislav-levin-881ab32b5" target="_blank" rel="noopener noreferrer">
            <img src="assets/icons/linkedInIcon.png" alt="LinkedIn" />
          </a>
          <a href="mailto:stanislav1994@live.de">
            <img src="assets/icons/emailIcon.png" alt="E-Mail" />
          </a>
        </div>

        <div class="logoHeader">
          <img src="assets/img/logo.png" alt="Logo" />
          <span>Stanislav Levin</span>
        </div>
      </div>

      <div class="settings">
        <button mat-button class="languageButton" [class.flash]="justClicked" [class.active]="true"
          (click)="cycleLanguage()">
          {{ currentLanguage.toUpperCase() }}
        </button>

        <button class="icon-btn sidenav-btn" type="button" (click)="sidenav.toggle()" aria-label="Menü öffnen">
          <mat-icon>menu</mat-icon>
        </button>

      </div>
    </div>
  </mat-toolbar>
</mat-sidenav-container>