.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  min-height: 100dvh; // volle Höhe, dynamisch auch auf Mobile
  max-width: 1888px;
  width: 100vw;
  position: relative;
  margin: 0 auto;
  z-index: auto;
  transform: none;
  filter: none;

  @media screen and (max-width: 690px) {
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
  }
}



/* ---------------- Greeting ---------------- */
.greeting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: clamp(16px, 3vw, 52px);
  width: 100%;
  z-index: 3;
  height: 65vh;
  padding-top: 20px;


  @media screen and (max-width: 1247px) {
    height: 70vh;
  }

  @media screen and (max-width: 1150px) {
    width: 100%;
    gap: 3vw;
    position: relative;
  }

  @media screen and (max-width: 690px) {
    gap: 16px;
  }

  @media screen and (max-height: 850px) {
    padding-top: 0px;
    gap: 26px;
  }

  span {
    font-size: clamp(24px, 2.5vw, 48px);
    color: #F8F7E5;
    font-family: 'quicksandBook';
    line-height: 1.2;
    width: 100%;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1150px) {
      font-size: clamp(24px, 2.5vw, 48px);
    }

    @media screen and (max-width: 690px) {
      font-size: clamp(24px, 2.5vw, 48px);
    }
  }

  h1 {
    font-size: clamp(48px, 5vw, 96px);
    color: #F8F7E5;
    font-family: 'eczarBold';
    line-height: 1.1;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0px;

    @media screen and (max-width: 1150px) {
      font-size: clamp(48px, 5vw, 96px);
    }

    @media screen and (max-width: 690px) {
      font-size: clamp(48px, 5vw, 96px);
    }
  }
}

/* ---------------- Button ---------------- */
.conectBtn {
  font-family: 'quicksandBook';
  font-weight: 700;
  font-size: clamp(16px, 1vw, 17px);
  width: clamp(200px, 12vw, 220px);
  height: clamp(36px, 4.5vh, 44px);
  line-height: 120%;
  border: solid #F8F7E5 1px;
  padding: clamp(16px, 2vh, 18px) clamp(18px, 3vw, 32px);
  border-radius: 100px;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s;
  z-index: 5;

  &:hover {
    background-color: #FF834F;
  }
}



/* ---------------- Hero Image ---------------- */
.hero-image-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  margin-right: 186px;

  @media screen and (max-width: 1247px) {
    width: 57%;
  }

  @media screen and (max-width: 1000px) {
    width: 57%;
    right: -442px;

    position: relative;
  }

  @media screen and (max-width: 900px) {
    width: 52%;
  }

  @media screen and (max-width: 831px) {
    width: 44vw;
  }

  @media screen and (max-width: 690px) {
    position: absolute;
    bottom: 0;
    width: 100%;
    right: unset;
  }

  @media screen and (max-width: 600px) {
    position: absolute;
    bottom: 0;
    width: 100%;
    right: unset;
  }

  // Wenn Bildschirmhöhe kleiner als 850px → Breite dominiert
  @media screen and (max-height: 850px) {
    width: auto;
    height: 100%;
    max-height: 100dvh;
    right: -184px;
  }


}

.hero-image {
  position: absolute;
  z-index: 2;
  width: clamp(150%, 10vw, 269%);
  max-width: 1200px;
  height: auto;
  right: 184px;
  pointer-events: none;


  @media screen and (max-width: 1500px) {
    width: clamp(80%, 10vw, 269%);

  }

  @media screen and (max-width: 1247px) {
    width: 100vw;
    right: 24px;
  }

  @media screen and (max-width: 900px) {
    width: 110vw;
  }

  @media screen and (max-width: 831px) {}

  @media screen and (max-width: 781px) {
    width: 900px;
  }

  @media screen and (max-width: 690px) {
    width: 133%;
    right: -60px;
  }

  @media screen and (max-width: 600px) {
    width: 780px;
    right: -128px;
  }

  @media screen and (max-height: 820px) {
    width: 666px;
    right: -96px;
  }

  @media screen and (max-height: 750px) {
    width: 581px;
    right: -62px;
  }

  @media screen and (max-height: 700px) {
    width: 527px;
    right: -44px;
  }
}

.orange-star {
  position: absolute;
  z-index: 1;
  width: clamp(30%, 40%, 55%);
  max-width: 500px;
  bottom: 29%;
  right: 20%;
  pointer-events: none;

  @media screen and (max-width: 1000px) {
    right: 236px;
    bottom: 283px;
    width: 40vw;
  }

  @media screen and (max-width: 690px) {
    right: 86px;
    bottom: 324px;
    width: 40vw;
  }

  @media screen and (max-width: 600px) {

    right: 32px;
    bottom: 271px;
    width: 51vw;
  }

  @media screen and (max-height: 820px) {
    width: 40vw;
  }

  @media screen and (max-height: 700px) {
    bottom: 180px;
  }
}

/* ---------------- Text & Animation ---------------- */
.text-wrapper {
  display: flex;
  flex-direction: column; // Text oben, Icon unten
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  height: 100%;
  position: absolute;
  top: 88px;

  @media screen and (max-height: 850px) {
    top: 64px;
  }
}

.animation-container {
  margin-top: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  padding-bottom: 5vh;
  z-index: 3;
}

.icon-wrapper {
  position: relative;
  display: inline-block;
  bottom: 50px;
}

.scrollAnimation {
  width: clamp(80px, 10vw, 144px);
  height: auto;
  animation: spin 10s linear infinite;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: auto;
}