.hero-image {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  bottom: 0;
  left: 345px;
  width: 92%;
  max-width: 1800px;


  @media (max-width: 2300px) {
    width: 92%;
  }

  @media (max-width: 1800px) {
    width: 100%;
    left: 128px;
  }

  @media (max-width: 1350px) {
    width: 120%;
    left: 50px;
  }

  @media (max-width: 1100px) {
    width: 1376px;
    position: absolute;
    left: -328px;
    bottom: 0px;
  }

  @media (max-width: 690px) {
    width: 930px;
  }

  @media (max-width: 521px) {}

  @media (max-width: 470px) {}

  @media (max-height: 1284px) {
    width: 83%;
    left: 354px;

    @media (max-width: 1600px) {
      width: 95%;
      left: 182px;
    }

    @media (max-width: 1150px) {
      width: 113%;
      left: 0px;
    }

    @media (max-width: 992px) {
      width: 1071px;
      position: absolute;
      left: -328px;
      bottom: 0px;
    }

    @media (max-width: 690px) {
      width: 930px;
    }

    @media (max-width: 521px) {}

    @media (max-width: 470px) {}
  }

  @media (max-height: 1134px) {
    width: 75%;
    left: 564px;

    @media (max-width: 1600px) {
      width: 85%;
    }

    @media (max-width: 1350px) {
      width: 104%;
    }

    @media (max-width: 992px) {
      width: 1000px;
    }

    @media (max-width: 690px) {
      width: 930px;
    }

    @media (max-width: 475px) {}

    @media (max-width: 410px) {}
  }

  @media (max-height: 1064px) {
    width: 70%;

    @media (max-width: 1600px) {
      width: 85%;
    }

    @media (max-width: 1350px) {
      width: 104%;
    }

    @media (max-width: 992px) {
      width: 950px;
    }

    @media (max-width: 690px) {}
  }

  @media (max-height: 1000px) {
    width: 63%;

    @media (max-width: 1600px) {
      width: 77%;
    }

    @media (max-width: 1350px) {
      width: 90%;
      left: 152px;
    }

    @media (max-width: 992px) {
      width: 800px;
       position: absolute;
      left: -228px;
      bottom: 0px;
    }

    @media (max-width: 690px) {}

    @media (max-width: 521px) {}

    @media (max-width: 470px) {}
  }

  @media (max-height: 870px) {
    width: 57%;

    @media (max-width: 1600px) {
      width: 70%;
    }

    @media (max-width: 1350px) {
      width: 80%;
    }

    @media (max-width: 992px) {
      width: 780px;
    }

    @media (max-width: 521px) {
      right: -10%;
    }

    @media (max-width: 470px) {}
  }

  @media (max-height: 766px) {
    width: 50%;

    @media (max-width: 1600px) {
      width: 63%;
    }

    @media (max-width: 1350px) {
      width: 72%;
    }

    @media (max-width: 1000px) {
      width: 88%;
    }

    @media (max-width: 820px) {
      width: 690px;
    }

    @media (max-width: 470px) {}
  }

  @media (max-height: 700px) {
    width: 60%;


    @media (max-width: 1250px) {
      width: 72%;
    }

    @media (max-width: 770px) {
      width: 600px;
    }

    @media (max-width: 690px) {}

    @media (max-width: 500px) {}
  }
}


.orange-star {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  width: 30%;
  right: 100px;
  bottom: 450px;

  @media (max-width: 1400px) {
    width: 24%;
    right: 141px;
    bottom: 499px;
  }

  @media (max-width: 992px) {
    width: 250px;
  }

  @media (max-width: 690px) {
    width: 250px;
    right: 10%;
    bottom: 317px;
  }

  @media (max-height: 1284px) {
    width: 27%;
  }

  @media (max-width: 1400px) {
    right: 141px;
    bottom: 499px;
  }

  @media (max-width: 992px) {
    width: 250px;
  }

  @media (max-width: 690px) {
    width: 250px;
    right: 10%;
    bottom: 317px;
  }


  @media (max-height: 1164px) {
    width: 24%;
  }

  @media (max-width: 1400px) {
    right: 141px;
    bottom: 499px;
  }

  @media (max-width: 992px) {
    width: 250px;
    right: 102px;
    bottom: 461px;
  }

  @media (max-width: 690px) {
    width: 250px;
    right: 10%;
    bottom: 317px;
  }


  @media (max-height: 1064px) {
    bottom: 250px;
  }


  @media (max-height: 870px) {
    width: 20%;
    right: 202px;


    @media (max-width: 1350px) {
      width: 26%;
      right: 92px;
    }

    @media (max-width: 992px) {
      width: 250px;
      right: 92px;
    }

    @media (max-width: 470px) {
      right: 8px;
    }
  }

  @media (max-height: 766px) {
    width: 18%;
    right: 270px;

    @media (max-width: 1600px) {
      width: 18%;
      right: 187px;
    }

    @media (max-width: 1350px) {
      width: 23%;
      right: 105px;
    }

    @media (max-width: 820px) {
      width: 200px;
    }

    @media (max-width: 470px) {
      right: 8px;
    }
  }

  @media (max-height: 700px) {

    @media (max-width: 1600px) {
      width: 17%;
      right: 270px;
    }

    @media (max-width: 770px) {
      width: 175px;
      right: 200px;
      bottom: 173px;
    }

    @media (max-width: 690px) {
      right: 15%;
    }

    @media (max-width: 500px) {
      right: 2%;
    }
  }
}