<div class="main-content">
  <div class="text-wrapper">
    <div class="greeting">
      <span>{{ translations.greeting[currentLang] }}</span>
      <h1>{{ translations.name[currentLang] }}</h1>
      <span>{{ translations.role[currentLang] }}</span>

      <button mat-button class="conectBtn" (click)="scrollToBottom.emit()">
        {{ translations.button[currentLang] }}
      </button>
    </div>

    <div class="animation-container">
      <div class="icon-wrapper">
        <img class="scrollAnimation" src="assets/img/13. Scroll down.png" alt="Hero Icon" />
        <img class="arrow" src="assets/img/8. Scroll down.png" alt="Hero Icon" />
      </div>
    </div>
  </div>

  <div class="hero-image-container">
    <img class="hero-image" src="assets/img/heroImg.png" alt="Hero Image" />
    <img class="orange-star" src="assets/img/Component 11.png" alt="Orange Star" />
  </div>
</div>
