.main-content {
  display: flex;
  justify-content: start;
  align-items: flex-end;
  flex-direction: row;
  min-height: 100dvh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  z-index: auto;
  transform: none;
  filter: none;
  padding-top: 5rem;
  max-width: 1920px;
  scroll-snap-align: start;


  @media screen and (max-width: 690px) {
    flex-direction: column;
  }

  @media (max-height: 700px) {
    max-width: 1500px;

    @media screen and (max-width: 690px) {
      flex-direction: column;
      padding-top: 3rem;
    }
  }
}



.greeting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: clamp(16px, 5vw, 60px);
  width: 100%;
  z-index: 3;
  height: 70vh;
  padding-top: clamp(50px, 5vw, 150px);

  @media (max-width: 1150px) {
    height: 68.5vh;
  }

  @media (max-height: 950px) {
    gap: clamp(16px, 5vw, 32px);
    padding-top: clamp(30px, 1vw, 100px);
  }

  @media (max-height: 820px) {
    gap: clamp(16px, 2vw, 24px);
  }

  @media (max-height: 700px) {
    padding-top: clamp(8px, 8px, 100px);
  }

  span {
    font-size: clamp(24px, 3.5vw, 52px);
    color: #F8F7E5;
    font-family: 'quicksandBook';
    line-height: 1.2;
    width: 100%;
    display: flex;
    align-items: center;

    @media (max-height: 700px) {
      font-size: clamp(24px, 2.75vw, 52px);
    }

    @media (max-width: 400px) {
      font-size: clamp(20px, 2.75vw, 52px);
    }
  }

  h1 {
    font-size: clamp(42px, 5.5vw, 118px);
    color: #F8F7E5;
    font-family: 'eczarBold';
    line-height: 1.1;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    white-space: nowrap;

    @media (max-height: 700px) {
      font-size: clamp(42px, 3.25vw, 80px);
    }

    @media (max-width: 400px) {
      font-size: clamp(40px, 3.25vw, 80px);
    }
  }
}


.conectBtn {
  font-family: 'quicksandBook';
  font-weight: 700;
  font-size: clamp(16px, 1.5vw, 60px);
  height: clamp(36px, 4.5vh, 44px);
  line-height: 120%;
  border: solid #F8F7E5 1px;
  padding: clamp(16px, 2vh, 40px) clamp(18px, 3vw, 32px);
  border-radius: 100px;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s;
  z-index: 5;

  &:hover {
    background-color: #FF834F;
  }
}


.hero-image-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}


.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  height: 100%;

  @media (max-width: 992px) {
    width: 100%;
  }
}

.animation-container {
  margin-top: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  z-index: 3;
}

.icon-wrapper {
  position: relative;
  display: inline-block;
  bottom: 70px;

  @media (max-width: 690px) {
    bottom: 0px;
  }

  @media (max-height: 816px) {
    bottom: 100px;

    @media (max-width: 690px) {
      bottom: 0px;
    }
  }

  @media (max-height: 700px) {
    bottom: 10px;
  }
}

.scrollAnimation {
  width: clamp(80px, 10vw, 144px);
  height: auto;
  animation: spin 10s linear infinite;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: auto;
}