.hero-image {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  bottom: 0;
  left: 345px;
  width: 92%;
  max-width: 1800px;

  @media (max-width: 2300px) {
    width: 92%;
  }

  @media (max-width: 1800px) {
    width: 100%;
    left: 128px;
  }

  @media (max-width: 1350px) {
    width: 120%;
    left: -65px;
  }

  @media (max-width: 1100px) {
    width: 132%;
    left: -117px;
  }

  @media (max-width: 800px) {
    width: 179%;
    left: -400px;
  }

  @media (max-width: 690px) {
    width: 1400px;
    position: absolute;
    left: unset;
    right: -466px;
    bottom: 0px;
  }

  @media (max-height: 1284px) {
    width: 83%;
    left: 508px;

    @media (max-width: 2050px) {
      left: 400px;
    }

    @media (max-width: 1600px) {
      width: 95%;
      left: 182px;
    }

    @media (max-width: 1150px) {
      width: 113%;
      left: 0px;
    }

    @media (max-width: 992px) {
      width: 1071px;
      position: absolute;
      left: unset;
      right: -104px;
      bottom: 0px;
    }

    @media (max-width: 690px) {
      width: 1150px;
      right: -344px;
    }
  }

  @media (max-height: 1134px) {
    width: 75%;
    left: 564px;

    @media (max-width: 1650px) {
      width: 85%;
      left: 268px;
    }

    @media (max-width: 1350px) {
      width: 106%;
      left: 69px;
    }

    @media (max-width: 992px) {
      width: 131%;
      left: -77px;
    }

    @media (max-width: 800px) {
      width: 156%;
      left: -206px;
    }

    @media (max-width: 580px) {
      width: 186%;
      left: -319px;
    }

    @media (max-width: 500px) {
      width: 221%;
      left: -361px;
    }

    @media (max-width: 430px) {
      width: 930px;
      position: absolute;
      left: unset;
      right: -305px;
      bottom: 0px;
    }
  }

  @media (max-height: 1064px) {
    width: 70%;
    left: 677px;

    @media (max-width: 2050px) {
      left: 587px;
    }

    @media (max-width: 1600px) {
      width: 85%;
      left: 300px;
    }

    @media (max-width: 1350px) {
      width: 104%;
      left: 130px;
    }

    @media (max-width: 1050px) {
      width: 119%;
      left: 0px;
    }

    @media (max-width: 800px) {
      width: 145%;
      left: -126px;
    }


    @media (max-width: 590px) {
      width: 174%;
      left: -226px;
    }

    @media (max-width: 450px) {
      width: 956px;
      position: absolute;
      left: unset;
      right: -328px;
      bottom: 0px;
    }

  }

  @media (max-height: 1000px) {
    width: 63%;

    @media (max-width: 1600px) {
      width: 77%;
    }

    @media (max-width: 1350px) {
      width: 90%;
      left: 152px;
    }

    @media (max-width: 1050px) {
      width: 106%;
      left: 84px;
    }

    @media (max-width: 870px) {
      width: 127%;
      left: -24px;
    }

    @media (max-width: 630px) {
      width: 163%;
      left: -179px;
    }

    @media (max-width: 450px) {
      width: 881px;
      position: absolute;
      left: unset;
      right: -288px;
      bottom: 0px;
    }
  }

  @media (max-height: 900px) {
    width: 57%;

    @media (max-width: 1600px) {
      width: 70%;
    }

    @media (max-width: 1350px) {
      width: 80%;
    }

    @media (max-width: 992px) {
      width: 780px;
    }

    @media (max-width: 521px) {
      right: -10%;
    }
  }

  @media (max-height: 805px) {
    width: 50%;
    left: 830px;

    @media (max-width: 1600px) {
      width: 63%;
      left: 508px;
    }

    @media (max-width: 1350px) {
      width: 72%;
      left: 307px;
    }

    @media (max-width: 1100px) {
      width: 88%;
      left: 178px;
    }

    @media (max-width: 900px) {
      width: 105%;
      left: 62px;
    }

    @media (max-width: 800px) {
      width: 112%;
      left: 18px;
    }

    @media (max-width: 600px) {
      width: 138%;
      left: -88px;
    }

    @media (max-width: 450px) {
      width: 721px;
      position: absolute;
      left: unset;
      right: -225px;
      bottom: 0px;
    }
  }

  @media (max-height: 700px) {
    width: 60%;
    left: 500px;

    @media (max-width: 1250px) {
      width: 72%;
      left: 268px;
    }

    @media (max-width: 1050px) {
      width: 86%;
      left: 108px;
    }

    @media (max-width: 900px) {
      width: 100%;
      left: 14px;
    }

    @media (max-width: 800px) {
      width: 108%;
      left: 14px;
    }

    @media (max-width: 530px) {
      width: 121%;
      left: -17px;
    }

    @media (max-width: 450px) {
      width: 633px;
      position: absolute;
      left: unset;
      right: -103px;
      bottom: 0px;
    }
  }
}

.orange-star {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  width: 30%;
  right: 100px;
  bottom: 450px;

  @media (max-width: 800px) {
    width: 48%;
  }

  @media (max-width: 690px) {
    width: 459px;
    right: 126px;
  }

  @media (max-height: 1284px) {
    @media (max-width: 992px) {
      bottom: 318px;
      width: 48%;
    }

    @media (max-width: 690px) {
      width: 362px;
      right: 126px;
    }
  }

  @media (max-height: 1134px) {
    width: 25%;
    bottom: 433px;

    @media (max-width: 992px) {
      width: 40%;
    }

    @media (max-width: 690px) {
      width: 50%;
      bottom: 340px;
      right: 41px;
    }

    @media (max-width: 430px) {
      width: 71%;
      bottom: 269px;
      right: 128px;
    }

  }

  @media (max-height: 1000px) {
    bottom: 250px;

    @media (max-width: 1050px) {
      width: 35%;
      bottom: 284px;
    }

    @media (max-width: 690px) {
      width: 309px;
      bottom: 203px;
      right: 88px;
    }
  }

  @media (max-height: 805px) {
    width: 18%;

    @media (max-width: 1050px) {
      width: 28%;
    }

    @media (max-width: 450px) {
      width: 216px;
      bottom: 150px;
      right: 86px;
    }
  }
}