
.hero-image {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  bottom: 0;
  right: -143px;
  width: 92%;
  max-width: 1800px;

  @media (max-width: 2300px) {
    width: 92%;
  }

  @media (max-width: 1600px) {
    width: 100%;
  }

  @media (max-width: 1350px) {
    width: 108%;
    right: -134px;
  }

  @media (max-width: 992px) {
    width: 1176px;
  }

  @media (max-width: 690px) {
    width: 930px;
    right: -19%;
  }

  @media (max-width: 521px) {
    right: -41%;
  }

  @media (max-width: 470px) {
    right: -50%;
  }

  @media (max-height: 1284px) {
    width: 83%;
    right: -60px;

    @media (max-width: 1600px) {
      width: 95%;
    }

    @media (max-width: 1150px) {
      width: 113%;
      right: -134px;
    }

    @media (max-width: 992px) {
      width: 1071px;
    }

    @media (max-width: 690px) {
      width: 930px;
      right: -25%;
    }

    @media (max-width: 521px) {
      right: -41%;
    }

    @media (max-width: 470px) {
      right: -50%;
    }
  }

  @media (max-height: 1164px) {
    width: 75%;
    right: -40px;

    @media (max-width: 1600px) {
      width: 85%;
    }

    @media (max-width: 1350px) {
      width: 104%;
      right: -134px;
    }

    @media (max-width: 992px) {
      width: 1000px;
    }

    @media (max-width: 690px) {
      width: 930px;
      right: -25%;
    }

    @media (max-width: 475px) {
      right: -42%;
    }

    @media (max-width: 410px) {
      right: -53%;
    }
  }

  @media (max-height: 1064px) {
    width: 70%;
    right: 40px;

    @media (max-width: 1600px) {
      width: 85%;
      right: -35px;
    }

    @media (max-width: 1350px) {
      width: 104%;
      right: -134px;
    }

    @media (max-width: 992px) {
      width: 950px;
    }

    @media (max-width: 690px) {
      right: -25%;
    }
  }

  @media (max-height: 1000px) {
    width: 63%;
    right: 70px;

    @media (max-width: 1600px) {
      width: 77%;
      right: -35px;
    }

    @media (max-width: 1350px) {
      width: 90%;
      right: -134px;
    }

    @media (max-width: 992px) {
      width: 880px;
    }

    @media (max-width: 690px) {
      right: -25%;
    }

    @media (max-width: 521px) {
      right: -41%;
    }

    @media (max-width: 470px) {
      right: -50%;
    }
  }

  @media (max-height: 870px) {
    width: 57%;
    right: 70px;

    @media (max-width: 1600px) {
      width: 70%;
      right: -35px;
    }

    @media (max-width: 1350px) {
      width: 80%;
      right: -60px;
    }

    @media (max-width: 992px) {
      width: 780px;
      right: -2%;
    }

    @media (max-width: 521px) {
      right: -10%;
    }

    @media (max-width: 470px) {
      right: -40%;
    }
  }

  @media (max-height: 766px) {
    width: 50%;
    right: 161px;

    @media (max-width: 1600px) {
      right: 62px;
      width: 63%;
    }

    @media (max-width: 1350px) {
      right: -46px;
      width: 72%;
    }

    @media (max-width: 1000px) {
      width: 88%;
    }

    @media (max-width: 820px) {
      width: 690px;
    }

    @media (max-width: 470px) {
      right: -30%;
    }
  }

  @media (max-height: 700px) {
    width: 60%;
    right: 161px;


    @media (max-width: 1250px) {
      width: 72%;
      right: 142px;
    }

    @media (max-width: 770px) {
      width: 600px;
    }

    @media (max-width: 690px) {
      right: 5%;
    }

    @media (max-width: 500px) {
      right: -18%;
    }
  }
}


.orange-star {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  width: 30%;
  right: 89px;
  bottom: 450px;

  @media (max-width: 1400px) {
    width: 24%;
    right: 141px;
    bottom: 499px;
  }

  @media (max-width: 992px) {
    width: 250px;
  }

  @media (max-width: 690px) {
    width: 250px;
    right: 10%;
    bottom: 317px;
  }

  @media (max-height: 1284px) {
    width: 27%;
  }

  @media (max-width: 1400px) {
    right: 141px;
    bottom: 499px;
  }

  @media (max-width: 992px) {
    width: 250px;
  }

  @media (max-width: 690px) {
    width: 250px;
    right: 10%;
    bottom: 317px;
  }


  @media (max-height: 1164px) {
    width: 24%;
  }

  @media (max-width: 1400px) {
    right: 141px;
    bottom: 499px;
  }

  @media (max-width: 992px) {
    width: 250px;
    right: 102px;
    bottom: 461px;
  }

  @media (max-width: 690px) {
    width: 250px;
    right: 10%;
    bottom: 317px;
  }


  @media (max-height: 1064px) {
    bottom: 250px;
  }


  @media (max-height: 870px) {
    width: 20%;
    right: 202px;


    @media (max-width: 1350px) {
      width: 26%;
      right: 92px;
    }

    @media (max-width: 992px) {
      width: 250px;
      right: 92px;
    }

    @media (max-width: 470px) {
      right: 8px;
    }
  }

  @media (max-height: 766px) {
    width: 18%;
    right: 270px;

    @media (max-width: 1600px) {
      width: 18%;
      right: 187px;
    }

    @media (max-width: 1350px) {
      width: 23%;
      right: 105px;
    }

    @media (max-width: 820px) {
      width: 200px;
    }

    @media (max-width: 470px) {
      right: 8px;
    }
  }

  @media (max-height: 700px) {

    @media (max-width: 1600px) {
      width: 17%;
      right: 270px;
    }

    @media (max-width: 770px) {
      width: 175px;
      right: 200px;
      bottom: 173px;
    }

    @media (max-width: 690px) {
      right: 15%;
    }

    @media (max-width: 500px) {
      right: 2%;
    }
  }
}