<div class="main-content">
    <div class="greeting">
        <span>Hallo zusammen! Ich bin</span>
        <h1>Stanislav Levin</h1>
        <span>Frontend Developer</span>
        <button mat-button class="conectBtn" (click)="scrollToBottom.emit()">
            Get in Touch</button>
    </div>
    <div class="hero-image-container">
        <img class="hero-image" src="assets/img/heroImg.png" alt="Hero Image">
        <img class="orange-star" src="assets/img/Component 11.png" alt="Orange Star">
    </div>
    <div class="animation-container">
        <img class="scrollAnimation" src="assets/img/13. Scroll down.png" alt="Hero Icon">
        <img class="arrow" src="assets/img/8. Scroll down.png" alt="Hero Icon">
    </div>
</div>