<div class="main-content">
    <div class="greeting">
        <span class="greeting-text">Hello there! I’m</span>
        <span class="greeting-text-name">Stanislav Levin</span>
        <span class="greeting-text">Frontend Developer</span>
        <button mat-button class="conectBtn"> Get in Touch</button>
        <img class="scrollAnimation" src="assets/img/13. Scroll down.png" alt="Hero Icon">
        <img class="arrow" src="assets/img/8. Scroll down.png" alt="Hero Icon">
    </div>
    <div>
        <img class="hero-image" src="assets/img/heroImg.png" alt="Hero Image">
        <img class="orange-star" src="assets/img/Component 11.png" alt="Orange Star">
    </div>
</div>