.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 85dvh;
  width: 100vw;
  position: relative;
  z-index: auto;
  transform: none;
  filter: none;
  padding: 10rem 82px 0px 58px;

  @media (max-width: 690px) {
    padding: 3.8rem 24px 0px 16px;
  }



  @media screen and (max-width: 600px) {}
}

.contentContainer {
  background-color: #1D1D1D;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: clamp(24px, 5vw, 160px);
  max-width: 1900px;
  width: 100%;

  @media screen and (max-width: 1850px) {}

  @media screen and (max-width: 1750px) {}

  @media screen and (max-width: 1247px) {}

  @media screen and (max-width: 900px) {}

  @media screen and (max-width: 690px) {
    flex-direction: column;
  }
}

.contact-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1900px;

  @media screen and (max-width: 1247px) {}

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

h1 {
  font-size: clamp(28px, 5vw, 72px);
  font-family: 'eczarBold';
  color: #F9AF42;
  line-height: 110%;
  margin-bottom: clamp(32px, 6vh, 64px);
  max-width: 700px;
  width: fit-content;

  @media screen and (max-width:900px) {
    max-width: 93%;
    margin-bottom: clamp(32px, 4vh, 64px);
  }

  @media screen and (max-width: 690px) {
    width: 100%;
    margin-bottom: 40px;
  }

  @media screen and (max-height: 830px) {
    padding: 0px;
    margin: 0px;
  }
}

.text-content {
  flex: 1;
  max-width: 875px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (max-width: 900px) {
    max-width: none;
    width: 100%;
  }

  @media screen and (max-width: 690px) {}

  h2 {
    color: #FF834F;
    font-weight: 700;
    font-size: clamp(18px, 2vw, 24px);
    line-height: 120%;

    @media screen and (max-height: 770px) {
      font-size: 16px;
      margin-bottom: 4px;
    }

    @media screen and (max-height: 665px) {
      padding: 0px;
      margin: 0px;
    }
  }

  span {
    font-family: 'quicksandBook';
    font-size: clamp(14px, 1.5vw, 16px);
    line-height: 1.4;
    color: #F8F7E5;
  }
}

.contact-form {
  width: 60%;
  min-height: 382px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  bottom: 40px;
  z-index: 2;

  @media screen and (max-width: 900px) {
    width: 100%;
    margin-top: clamp(8px, 2vh, 32px);
  }

  @media screen and (max-width: 690px) {
    margin-top: 18px;
  }

  form {
    width: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 690px) {
      width: 100%;
    }

    .personal-group {
      display: flex;
      gap: 32px;
      margin-bottom: 20px;
      width: 100%;

      @media screen and (max-width: 1300px) {
        flex-direction: column;
      }

      @media screen and (max-width: 900px) {
        gap: 8px;
      }

      @media screen and (max-width: 690px) {
        margin-bottom: 8px;
      }
    }

    .form-group,
    .message-group {
      flex: 1;
      display: flex;
      flex-direction: column;

      &:hover {
        cursor: pointer;

        label {
          color: #FF834F;
        }

        input,
        textarea {
          border-bottom-color: #FF834F;
          color: #FF834F;
          cursor: pointer;

          &::placeholder {
            color: #FF834F;
          }
        }
      }
    }

    .message-group {
      width: 100%;
    }


    .message-group {
      flex: 1;
      display: flex;
      flex-direction: column;
    }


    .agreement-group {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      padding-bottom: 32px;
      width: 100%;

      @media screen and (max-width: 900px) {
        padding-bottom: 16px;
      }

      @media screen and (max-width: 730px) {
        padding-bottom: 4px;
      }

      @media screen and (max-height: 800px) {
        padding-bottom: 4px;
      }

      .agreement {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: clamp(12px, 1.2vw, 16px);
        font-family: 'quicksandBook';
        color: #F8F7E5;
        line-height: 120%;
        width: 100%;
        margin-bottom: 20px;


        @media screen and (max-height: 750px) {
          margin-bottom: 4px;
          padding: 0px;

        }

        p {
          margin: 0;
        }

        a {
          color: #FF834F;
          text-decoration: none;
          font-family: 'quicksandBook';
          padding-right: 4px;
          padding-left: 4px;

          @media screen and (max-width: 2024px) {
            padding: 0px;
          }

          @media screen and (max-height: 658px) {
            margin-bottom: 4px;
            padding: 0px;

          }

        }

        @media screen and (max-width: 2024px) {
          flex-direction: column;
          align-items: flex-start;

          p {
            margin: 0;
          }
        }
      }

      #agreementbox {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border: 2px solid #FF834F;
        border-radius: 4px;
        background: transparent;
        cursor: pointer;
        appearance: none;
        transition: border-color 0.3s ease;

        &:hover {
          border-color: #F8F7E5;
        }

        &:checked {
          background-color: #FF834F;
          border-color: #FF834F;
        }
      }
    }

    label {
      font-family: 'quicksandBold';
      font-size: clamp(18px, 1.5vw, 24px);
      margin-bottom: 5px;
      color: #F8F7E5;
      cursor: pointer;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      font-family: 'quicksandBook';
      font-size: clamp(16px, 1.5vw, 24px);
      background: transparent;
      color: #F8F7E5;
      border: none;
      border-bottom: 2px solid #F9AF42;
      outline: none;

      &.is-error::placeholder,
      &.is-error-email::placeholder,
      &.is-error-message::placeholder {
        color: #EC7B7B;
      }

      &.is-error-message::placeholder {
        height: max-content;
      }

      @media screen and (max-width: 466px) {
        padding: 4px;
        margin-bottom: 4px;
      }

      &::placeholder {
        color: #FFFFFFCC;
        line-height: 120%;
      }

      &:focus {
        border-bottom-color: #FF834F;
      }

      &:hover {
        border-bottom-color: #FF834F;
      }
    }

    textarea {
      resize: none;
      line-height: 1.4;
    }

    .submit-btn {
      font-family: 'quicksandBook';
      font-weight: 700;
      font-size: 18px;
      width: max-content;
      height: 40px;
      border-radius: 100px;
      border: 1px solid #F8F7E5;
      background: #1D1D1D;
      color: #F8F7E5;
      cursor: pointer;
      transition: background-color .3s, color .3s;


      @media screen and (max-height: 730px) {
        font-size: 16px;
        width: 100%;
        height: 30px;
      }


      &:hover {
        background: #FF834F;
      }

      &:disabled {
        opacity: .5;
        cursor: not-allowed;
      }
    }
  }
}


.arrow-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-color .2s ease;
  width: max-content;
  position: absolute;
  bottom: 73%;
  right: 42px;
  will-change: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: 10000;

  &:hover {
    border-bottom: 2px solid #FF834F;
  }

  @media screen and (max-width: 690px) {
    bottom: unset;
    top: 721px;
  }


  @media screen and (max-width: 551px) {
    right: clamp(52px, 100vw - 2015px, 1900px);
  }

  @media screen and (max-width: 466px) {
    top: 632px;
  }

  @media screen and (max-width: 429px) {
    top: 652px;
  }


  @media screen and (max-height: 880px) {
    @media screen and (max-width: 690px) {
      top: 80%;

    }

  }

}

@keyframes floatUpDownContact {
  0% {
    transform: translate3d(0, 23px, 0);
  }

  50% {
    transform: translate3d(0, -10px, 0);
  }

  100% {
    transform: translate3d(0, 23px, 0);
  }
}

@-webkit-keyframes floatUpDownContact {
  0% {
    -webkit-transform: translate3d(0, 23px, 0);
  }

  50% {
    -webkit-transform: translate3d(0, -10px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 23px, 0);
  }
}

@keyframes floatUpDownContactSm {
  0% {
    transform: translate3d(0, 10px, 0);
  }

  50% {
    transform: translate3d(0, -5px, 0);
  }

  100% {
    transform: translate3d(0, 10px, 0);
  }
}

@-webkit-keyframes floatUpDownContactSm {
  0% {
    -webkit-transform: translate3d(0, 10px, 0);
  }

  50% {
    -webkit-transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 10px, 0);
  }
}

.bounce-arrow {
  display: inline-block;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  animation: floatUpDownContact 2s ease-in-out infinite;
  -webkit-animation: floatUpDownContact 2s ease-in-out infinite;

  @media screen and (max-width: 690px) {
    position: relative;
    bottom: 46px;
    z-index: 10000;
  }
}

.arrow-wrapper {
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, .25));
}

@media (max-width: 551px) {
  .bounce-arrow {
    animation: floatUpDownContactSm 2s ease-in-out infinite;
    -webkit-animation: floatUpDownContactSm 2s ease-in-out infinite;
    width: clamp(20px, 3vw, 40px);
    height: auto;
    position: relative;
    bottom: 27px;
  }
}

@supports (-webkit-touch-callout: none) {
  .bounce-arrow {
    position: relative;
    transform: none !important;
    -webkit-transform: none !important;
    will-change: top;
    animation: floatUpDownContactTop 2s ease-in-out infinite !important;
    -webkit-animation: floatUpDownContactTop 2s ease-in-out infinite !important;
  }

  @keyframes floatUpDownContactTop {
    0% {
      top: 23px;
    }

    50% {
      top: -10px;
    }

    100% {
      top: 23px;
    }
  }

  @-webkit-keyframes floatUpDownContactTop {
    0% {
      top: 23px;
    }

    50% {
      top: -10px;
    }

    100% {
      top: 23px;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .bounce-arrow {
    animation: none !important;
    -webkit-animation: none !important;
    transform: translate3d(0, -6px, 0);
  }
}

.submit-wrapper {
  position: relative;
  display: inline-block;

  .submit-btn {
    position: relative;
    cursor: not-allowed;
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }

  .checkbox-tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 0.9rem;
    line-height: 1.3;
    width: max-content;
    max-width: 240px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    transition: all 0.35s ease;
    pointer-events: none;
    z-index: 50;
  }

  .checkbox-tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: #1a1a1a transparent transparent transparent;
  }

  &:hover .checkbox-tooltip {
    visibility: visible;
    opacity: 1;
    bottom: 140%;
    transform: translateX(-50%) translateY(0);
  }

  .checkbox-tooltip.success {
    visibility: visible;
    opacity: 1;
    bottom: 140%;
    background-color: #F9AF42;
    transform: translateX(-50%) translateY(0);
  }

  .checkbox-tooltip.success::after {
    border-color: #F9AF42 transparent transparent transparent;
  }
}