<div class="main-content">
    <div>
        <div class="text-content">
            <h1>Let's build
                something Cool
                together!</h1>
            <div>
                <h2>Got a problem to solve?</h2>
                <span>Encourage people to contact you and describe what role
                    you are interested in. Show that you will add
                    value to their projects through your work. </span>
            </div>
        </div>

    </div>









    <div class="contact-form">
        <form>
            <div class="personal-group">
                <div class="form-group">
                    <label for="name">What`s your name?</label>
                    <input type="text" id="name" name="name" placeholder="Your name goes here" required>
                </div>
                <div class="form-group">
                    <label for="email">What's your email?</label>
                    <input type="email" id="email" name="email" placeholder="youremail@email.com" required>
                </div>
            </div>
            <div class="message-group">
                <label for="message">How can I help you?</label>
                <textarea id="message" name="message" rows="4" placeholder="Hello Stanislav, I am interested in..."
                    required></textarea>
            </div>
            <div>
                <label for="subscribe">I've read the privacy policy and agree to the processing of my data.</label>
                <input type="checkbox" id="subscribe" name="subscribe">
            </div>
            <input type="submit" value="Drop a Line">
        </form>
    </div>
</div>




<div class="footer">
    <img src="assets/img/Component 11.png">
    <img src="assets/img/Component 12.png">
    <div class="footer-content">
        <div class="footer-text">
            <span>© 2025 Stanislav Levin</span>
        </div>
        <div class="footer-links">
            <a href="">Impressum</a>
            <a href="">LinkedIn</a>
            <a href="">GitHub</a>
            <a href="">Privacy Policy</a>
        </div>
    </div>

</div>