.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-top: clamp(131px, 7vh, 140px); // dynamisch
  min-height: 100dvh; // volle Höhe, auch auf Mobile
  max-width: 2000px;
  width: 100%; // dynamisch begrenzt
  position: relative;
  margin: 0 auto;

  @media screen and (max-width: 690px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (max-width: 690px) {
    justify-content: flex-start;
  }

  @media screen and (max-height: 923px) {
    padding-top: clamp(92px, 10vh, 92px);
  }

  @media screen and (max-height: 716px) {
    padding-top: clamp(112px, 10vh, 112px);
  }

  @media screen and (max-height: 696px) {
    padding-top: clamp(120px, 10vh, 120px);
  }

  @media screen and (max-height: 696px) {
    padding-top: clamp(125px, 10vh, 125px);
  }

  @media screen and (max-height: 660px) {
    padding-top: clamp(130px, 10vh, 130px);
  }


  @media screen and (max-height: 655px) {
    padding-top: clamp(135px, 10vh, 135px);
  }

  @media screen and (max-height: 650px) {
    padding-top: clamp(140px, 10vh, 140px);
  }

  @media screen and (max-height: 645px) {
    padding-top: clamp(150px, 10vh, 170px);
  }
}



.contentContainer {
  background-color: #1D1D1D;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: clamp(24px, 5vw, 160px); // dynamisch
  max-width: 1900px;
  width: 130%;
  padding-right: 0;

  @media screen and (max-width: 1850px) {
    width: 121%;
  }

  @media screen and (max-width: 1750px) {
    width: 95%;
  }

  @media screen and (max-width: 1247px) {
    width: 83%;
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
    gap: 40px;
    width: 80%;
  }

  @media screen and (max-width: 690px) {
    width: 100%;
  }
}


.contact-header {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  max-width: 1900px;

  @media screen and (max-width: 1247px) {
    width: 94%;
  }

  @media screen and (max-width: 900px) {
    width: 100%;
  }

  @media screen and (max-width: 690px) {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

h1 {
  font-size: clamp(28px, 5vw, 72px);
  font-family: 'eczarBold';
  line-height: 110%;
  color: #F9AF42;
  margin-bottom: clamp(32px, 6vh, 64px);
  width: fit-content; // nicht fix 700px
  max-width: 700px;

  @media screen and (max-width: 900px) {
    max-width: 93%;
    margin-bottom: clamp(32px, 4vh, 64px);

  }

  @media screen and (max-width: 690px) {
    width: 100%;
  }

  @media screen and (max-width: 690px) {
    margin-bottom: 4px;
  }
}


.text-content {
  flex: 1; // nimmt immer verfügbaren Platz ein
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px; // etwas Abstand

  @media screen and (max-width: 900px) {
    width: 100%;
    max-width: none;
  }

  @media screen and (max-height: 696px) {
    gap: 4px;
  }

  h2 {
    color: #FF834F;
    font-weight: 700;
    font-size: clamp(18px, 2vw, 24px);

    @media screen and (max-height: 696px) {
      font-size: clamp(16px, 2vw, 24px);
      margin: 0 0 4px;

    }
  }



  span {
    font-family: 'quicksandBook';
    font-size: clamp(14px, 1.5vw, 16px);
    line-height: 1.4;
    color: #F8F7E5;
  }
}



.contact-form {
  width: 50%;
  min-height: 382px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  bottom: 40px;
  z-index: 2;

  @media screen and (max-width: 900px) {
    width: 100%;
    margin-top: clamp(8px, 2vh, 32px);
  }

  @media screen and (max-height: 677px) {
    margin-top: clamp(4px, 1vh, 8px);
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .personal-group {
      display: flex;
      gap: 32px;
      margin-bottom: 20px;

      @media screen and (max-width: 1300px) {
        flex-direction: column;
      }

      @media screen and (max-width: 900px) {
        gap: 8px;
      }

      @media screen and (max-width: 690px) {
        margin-bottom: 8px;

      }

      @media screen and (max-height: 669px) {
        margin-bottom: 4px;
        gap: 4px;
      }

      .form-group {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }

    label {
      font-size: clamp(18px, 1.5vw, 24px);
      color: #F8F7E5;
      margin-bottom: 5px;
      font-family: 'quicksandBold';
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      background: transparent;
      color: #F8F7E5;
      font-size: clamp(16px, 1.5vw, 24px);
      font-family: 'quicksandBook';
      border: none;
      border-bottom: 2px solid #F9AF42;
      outline: none;

      @media screen and (max-width: 466px) {
        padding: 4px;
        margin-bottom: 4px;
      }

      &::placeholder {
        color: #FFFFFFCC;
        font-size: 16px;
        line-height: 120%; // fix gegen den Versatz
      }

      &:hover,
      &:focus {
        border-bottom-color: #F9AF42;
        cursor: text;
      }

      &.is-error::placeholder,
      &.is-error-email::placeholder,
      &.is-error-message::placeholder {
        color: #EC7B7B;
      }
    }

    textarea {
      resize: none;
      height: 40px;
      padding: 10px;
      display: flex;
      align-items: flex-end;
      line-height: 1.4;
      vertical-align: bottom;

      &::placeholder {
        line-height: 120%;
      }
    }

    .checkbox {
      margin: 0px;
    }

    a {
      color: #FF834F;
      text-decoration: none;
      font-size: 16px;
      font-family: 'quicksandBook';

      &:hover {
        color: #F8F7E5;
      }
    }

    .submit-btn {
      font-family: 'quicksandBook';
      font-weight: 700;
      font-size: 18px;
      width: 160px;
      height: 40px;
      border: 1px solid #F8F7E5;
      border-radius: 100px;
      background-color: #1D1D1D;
      color: #F8F7E5;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s, color 0.3s;

      @media screen and (max-width: 900px) {
        margin-bottom: 40px;
      }


      @media screen and (max-height: 890px) {
        margin-bottom: 97px;
        width: 133px;
        height: 31px;
        font-size: 16px;

      }

      &:hover {
        background-color: #FF834F;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    // Agreement Checkbox
    #agreementbox {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border: 2px solid #FF834F;
      border-radius: 4px;
      background: transparent;
      cursor: pointer;
      appearance: none;
      transition: border-color 0.3s ease;

      &:hover {
        border-color: #F8F7E5;
      }

      &:checked {
        background-color: #FF834F;
        border-color: #FF834F;
      }
    }
  }

  // Agreement Text
  .agreement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; // darf umbrechen, wenn zu eng
    font-size: clamp(12px, 1.2vw, 16px);
    font-family: 'quicksandBook';
    color: #F8F7E5;
    line-height: 120%;
    width: 100%;

    p {
      margin: 0;
    }

    a {
      padding: 0 4px;

      @media screen and (max-width: 2024px) {
        padding: 0px;
      }

      @media screen and (max-width: 900px) {
        padding: 0 4px;

      }
    }

    @media screen and (max-width: 2024px) {
      flex-direction: column;
      align-items: flex-start;

      p {
        margin: 0;
      }
    }


    @media screen and (max-width: 900px) {
      width: 100%;
      flex-direction: row;
    }
  }
}




.personal-group {
  display: flex;
  gap: 32px;
  margin-bottom: 20px;
  width: 100%;
}

.message-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;

  @media screen and (max-height: 890px) {
    margin-bottom: 4px;
  }
}







.agreement-group {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  width: 100%;

  @media screen and (max-height: 890px) {
    padding-bottom: 8px;
  }
}



.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;

  @media screen and (max-height: 890px) {
    margin-bottom: 4px;
  }
}









.arrow-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-color .2s ease;
  width: max-content;
  padding: 8px 10px;
  position: absolute;
  bottom: 657px;
  right: clamp(82px, (100vw - 2012px), 1900px);

  &:hover {
    border-bottom: 2px solid #FF834F;
  }

  @media screen and (max-width: 690px) {
    position: relative;
    bottom: 330px;
    left: 468px;
  }

  @media screen and (max-width: 576px) {
    bottom: 315px;
    left: 390px;
  }

  @media screen and (max-width: 547px) {
    bottom: 274px;
    left: 390px;
  }

  @media screen and (max-width: 466px) {
    bottom: 346px;
    left: 338px;
  }

  @media screen and (max-width: 462px) {
    bottom: 333px;
    left: 338px;
  }

  @media screen and (max-width: 401px) {
    bottom: 311px;
    left: 311px;
  }

  @media screen and (max-height: 960px) {
    bottom: 264px;
  }

  @media screen and (max-height: 923px) {
    bottom: 272px;
  }

  @media screen and (max-height: 890px) {
    bottom: 235px;
  }

  @media screen and (max-height: 795px) {
    bottom: 26%;
  }

  @media screen and (max-height: 766px) {
    bottom: 23%;
  }

  @media screen and (max-height: 740px) {
    bottom: 21%;
  }

  @media screen and (max-height: 700px) {}
}

.bounce-arrow {
  width: 40px;
  height: 40px;
  pointer-events: auto;
  user-select: none;
  opacity: 1;
  transform-origin: center;
  animation: floatUpDown 2s ease-in-out infinite;
  will-change: transform;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, .25));
  transition: filter 0.2s ease;
  z-index: 2;

  .arrow-wrapper:hover & {
    filter: brightness(0) saturate(100%) invert(52%) sepia(75%) saturate(726%) hue-rotate(338deg) brightness(98%) contrast(96%);
  }

  @media screen and (max-width: 547px) {
    width: clamp(20px, 3vw, 40px);
    height: auto;
  }

  @media screen and (max-width: 547px) {
    animation: floatUpDownSmall 2s ease-in-out infinite;

  }
}



.bounce-arrow {
  opacity: 1;
  pointer-events: auto;
}


@keyframes floatUpDown {
  0% {
    transform: translateY(23px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(23px);
  }
}

@keyframes floatUpDownSmall {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(10px);
  }
}

@media (prefers-reduced-motion: reduce) {
  .bounce-arrow {
    animation: none;
  }
}


app-footer {
  width: 100%;
}