.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  height: calc(var(--vh, 1vh) * 90);
  width: 100%;
  position: relative;
  z-index: auto;
  transform: none;
  filter: none;
  padding: 8rem 82px 0px 58px;

  @media (max-width: 690px) {
    padding: 98px 8px 0px 8px;
  }
}

.contentContainer {
  background-color: #1D1D1D;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: clamp(24px, 5vw, 160px);
  max-width: 1900px;
  width: 100%;

  @media screen and (max-width: 690px) {
    flex-direction: column;
  }
}

.contact-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1900px;

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

h1 {
  font-size: clamp(28px, 5vw, 72px);
  font-family: 'eczarBold';
  color: #F9AF42;
  line-height: 110%;
  margin-bottom: clamp(32px, 6vh, 64px);
  max-width: 700px;
  width: fit-content;

  @media screen and (max-width:900px) {
    max-width: 93%;
    margin-bottom: clamp(32px, 4vh, 64px);
  }

  @media screen and (max-width: 690px) {
    width: 100%;
    margin-bottom: 40px;
  }

  @media screen and (max-height: 830px) {
    @media screen and (max-width: 690px) {
      padding: 0px;
      margin: 0px;
    }
  }
}

.text-content {
  flex: 1;
  max-width: 875px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (max-width: 900px) {
    max-width: none;
    width: 100%;
  }

  h2 {
    color: #FF834F;
    font-weight: 700;
    font-size: clamp(16px, 2vw, 24px);
    line-height: 120%;

    @media screen and (max-height: 770px) {
      margin-bottom: 4px;
    }

    @media screen and (max-height: 665px) {
      padding: 0px;
      margin: 0px;
    }
  }

  span {
    font-family: 'quicksandBook';
    font-size: clamp(16px, 1.5vw, 18px);
    line-height: 1.4;
    color: #F8F7E5;
  }
}

.arrow-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-color .2s ease;
  width: max-content;
  position: absolute;
  bottom: 12%;
  right: 42px;
  will-change: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 10000;

  &:hover {
    border-bottom: 2px solid #FF834F;
  }

  @media screen and (max-height: 1090px) {
    bottom: 12%;
  }

  @media screen and (max-width: 690px) {
    bottom: 3%;
  }
}



.error-popup-message {
  position: absolute;
  background: #ff5c5c;
  color: #fff;
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 8px;
  top: 76px;
  left: 0;
  white-space: nowrap;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.2s ease-out;
  z-index: 10;

  @media (max-width: 1300px) {
    top: 194px;
  }


  @media screen and (max-width: 900px) {
    top: 239px;
  }

  @media screen and (max-width: 690px) {
    top: 219px;
  }

  @media screen and (max-width: 466px) {
    top: 157px;
    padding: 4px 6px;

  }
}

.error-popup {
  position: absolute;
  background: #ff5c5c;
  color: #fff;
  font-size: 0.9rem;
  padding: 8px 12px;
  border-radius: 8px;
  top: -42px;
  left: 0;
  white-space: nowrap;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.2s ease-out;
  z-index: 10;

  @media screen and (max-width: 900px) {
    top: 25px;
  }

  @media screen and (max-width: 466px) {
    top: 21px;
    padding: 4px 6px;

  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-group {
  position: relative;
}

.is-error {
  border: 2px solid #ff5c5c;
}