.main-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    max-width: 1900px;
    width: 100%;
}


.contentContainer {
    background-color: #1D1D1D;
    display: flex;
    flex-direction: row;
    align-items: start;
    background-color: #1D1D1D;
    gap: 160px;
    max-width: 1900px;
    padding-right: 72px;
}

.contact-header {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    padding-top: 36px;
    max-width: 1900px;
}

h1 {
    font-size: 72px;
    font-family: 'eczarBold';
    line-height: 100%;
    color: #F9AF42;
    margin-bottom: 64px;
    width: 530px;
}

.text-content {
    width: 40%;
    height: 382px;
    display: flex;
    flex-direction: column;


    h2 {
        color: #FF834F;
        font-weight: 700;
        font-size: 24px;
    }

    span {
        font-family: 'quicksandBook';
        font-size: 26px;
        line-height: 120%;
        color: #F8F7E5;
    }

}



.contact-form {
    width: 40%;
    height: 382px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    bottom: 40px;

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
            width: 100%;

        }

        .personal-group {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            gap: 32px;
        }

        label {
            font-size: 24px;
            color: #F8F7E5;
            margin-bottom: 5px;
            font-family: 'quicksandBold';
        }

        ::placeholder {
            color: #FFFFFFCC;
            font-size: 16px;
            font-family: 'quicksandBook';
            line-height: 120%;
            line-height: 4;
        }

        a {
            color: #FF834F;
            text-decoration: none;
            font-size: 16px;
            font-family: 'quicksandBook';

            &:hover {
                color: #F8F7E5;
            }
        }

        input,
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            background-color: transparent;
            color: #F8F7E5;
            font-size: 16px;

            border: none;
            border-radius: 0;
            border-bottom: 2px solid #F9AF42;
            outline: none;

            &::placeholder {
                color: #FFFFFFCC;
            }

            &:hover,
            &:focus {
                border-bottom-color: #F9AF42;
                cursor: text;
            }
        }

        input.is-error::placeholder,
        textarea.is-error::placeholder,
        input.is-error-email::placeholder {
            color: #EC7B7B;
        }


        textarea {
            resize: none;
            height: 80px;
            padding: 0px;

            &::placeholder {
                line-height: 4;
                padding-top: 8px;
                padding-bottom: 0px;
                margin-bottom: 0px;
            }
        }

        input.submit-btn {
            font-family: 'quicksandBook';
            background-color: #1D1D1D;
            font-weight: 700;
            font-size: 18px;
            width: 160px;
            height: 40px;
            line-height: 120%;
            border: solid #F8F7E5 1px;
            padding: 0px 0px;
            cursor: pointer;
            border-radius: 100px;
            transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s;
            color: #F8F7E5;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: #FF834F;
            }
        }

        input#agreementbox {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            cursor: pointer;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid #FF834F;
            border-radius: 4px;
            background-color: transparent;
            cursor: pointer;
            transition: border-color 0.3s ease;

            &:hover {
                border-color: #F8F7E5;
            }

            &:checked {
                background-color: #FF834F;
                border-color: #FF834F;
            }
        }
    }


    .agreement {
        color: #F8F7E5;
        font-size: 16px;
        font-family: 'quicksandBook';
        line-height: 120%;
        flex-direction: row;
        display: flex;
        width: 1000px !important;

        p {
            margin: 0 0 20px;

        }

        a {
            padding-right: 4px;
            padding-left: 4px;
        }

        @media screen and (max-width: 1711px) {
            flex-direction: column;
            margin-bottom: 20px;

            p {
                margin: 0px;

            }

            a {
                padding: 0px;
            }
        }
    }

}

.agreement-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}



.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}













.arrow-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-color .2s ease;
    width: max-content;
    padding: 8px 10px;
    padding-top: 150px;


    &:hover {
        border-bottom: 2px solid #FF834F;
    }
}

.bounce-arrow {
    width: 40px;
    height: 40px;
    pointer-events: auto;
    user-select: none;
    opacity: 1;
    transform-origin: center;
    animation: floatUpDown 2s ease-in-out infinite;
    will-change: transform;
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, .25));
    transition: filter 0.2s ease;

    .arrow-wrapper:hover & {
        filter: brightness(0) saturate(100%) invert(52%) sepia(75%) saturate(726%) hue-rotate(338deg) brightness(98%) contrast(96%);
    }
}



.bounce-arrow {
    opacity: 1;
    pointer-events: auto;
}


@keyframes floatUpDown {
    0% {
        transform: translateY(23px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(23px);
    }
}


@media (prefers-reduced-motion: reduce) {
    .bounce-arrow {
        animation: none;
    }
}


app-footer {
    width: 100%;
}