<div class="main-content">

  <h1>Datenschutzerklärung</h1>

  <h2>Allgemeiner Hinweis und Pflichtinformationen</h2>
  <p>
    Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir behandeln Ihre personenbezogenen Daten
    vertraulich und entsprechend den gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
  </p>

  <h2>Verantwortliche Stelle</h2>
  <p>
    Stanislav Levin<br>
    Rietgasse 6<br>
    78050 VS-villingen<br>
    Deutschland
  </p>

  <h2>Erfassung allgemeiner Informationen</h2>
  <p>
    Beim Zugriff auf unsere Website werden automatisch Informationen allgemeiner Natur erfasst. Diese Informationen
    (Server-Logfiles) beinhalten etwa die Art des Webbrowsers, das verwendete Betriebssystem, den Domainnamen Ihres
    Internet Service Providers und ähnliches. Hierbei handelt es sich ausschließlich um Informationen, welche keine
    Rückschlüsse auf Ihre Person zulassen.
  </p>

  <h2>Cookies</h2>
  <p>
    Unsere Website verwendet teilweise sogenannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an und
    enthalten keine Viren. Sie dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen.
  </p>

  <h2>Rechte des Nutzers</h2>
  <p>
    Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten,
    deren Herkunft und Empfänger sowie den Zweck der Datenverarbeitung. Sie haben außerdem ein Recht auf Berichtigung,
    Sperrung oder Löschung dieser Daten.
  </p>

  <h2>Kontakt</h2>
  <p>
    Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail an stanislav&#64;1994live.de
  </p>
  <app-footer variant="impressum"></app-footer>

</div>