<div class="main-content">
  <h1>{{ translations.title[currentLang] }}</h1>

  <h2>{{ translations.generalTitle[currentLang] }}</h2>
  <p>{{ translations.generalText[currentLang] }}</p>

  <h2>{{ translations.responsibleTitle[currentLang] }}</h2>
  <p [innerHTML]="translations.responsibleText[currentLang]"></p>

  <h2>{{ translations.logTitle[currentLang] }}</h2>
  <p>{{ translations.logText[currentLang] }}</p>

  <h2>{{ translations.cookiesTitle[currentLang] }}</h2>
  <p>{{ translations.cookiesText[currentLang] }}</p>

  <h2>{{ translations.rightsTitle[currentLang] }}</h2>
  <p>{{ translations.rightsText[currentLang] }}</p>

  <h2>{{ translations.contactTitle[currentLang] }}</h2>
  <p [innerHTML]="translations.contactText[currentLang]"></p>

  <app-footer variant="impressum"></app-footer>
</div>
