html {
    max-width: 2000px;
    width: 100%;
}

.main-content {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding-top: 122px;
    padding-right: 60px;
    padding-left: 112px;
    padding-bottom: 300px;
    background-color: #1D1D1D;
    width: 100%;
    min-height: 100dvh;
    

    @media screen and (max-width: 1247px) {
        padding: 20px;
        padding-top: 100px;
        padding-left: 42px;
        padding-bottom: 220px;

    }

    @media screen and (max-width: 900px) {
        padding: 20px;
        padding-top: 100px;
        padding-left: 42px;
        padding-bottom: 220px;


    }

    @media screen and (max-width: 690px) {
        padding: 6px;
        padding-top: 100px;
        padding-left: 6px;
        padding-bottom: 140px;

    }

    @media screen and (max-height: 690px) {
        padding: 6px;
        padding-top: 100px;
        padding-left: 6px;
        padding-bottom: 140px;

    }

    h1 {
        font-size: clamp(32px, 4vw, 72px);
        font-family: 'eczarBold';
        line-height: 100%;
        color: #F9AF42;
        margin-bottom: 64px;
        width: 530px;
        max-width: 1816px;
        padding-right: 80px;


        @media screen and (max-width: 690px) {
            margin-bottom: 8px;
        }
    }

    h2 {
        color: #FF834F;
        font-weight: 700;
        font-size: clamp(18px, 1.5vw, 24px);
        max-width: 1816px;
        padding-right: 80px;

    }

    p {
        font-family: 'quicksandBook';
        font-size: clamp(16px, 1.5vw, 24px);
        line-height: 120%;
        color: #F8F7E5;
        max-width: 1816px;
        padding-right: 80px;

    }
}

app-footer {
    width: 100%;
    position: relative;
    top: 140px;
}