.main-content {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding-top: 122px;
    padding-right: 60px;
    padding-left: 112px;
    padding-bottom: 300px;
    background-color: #1D1D1D;
    width: 100%;


    h1 {
        font-size: 72px;
        font-family: 'eczarBold';
        line-height: 100%;
        color: #F9AF42;
        margin-bottom: 64px;
        width: 530px;
        max-width: 1816px;
        padding-right: 80px;

    }

    h2 {
        color: #FF834F;
        font-weight: 700;
        font-size: 24px;
        max-width: 1816px;
        padding-right: 80px;

    }

    p {
        font-family: 'quicksandBook';
        font-size: 26px;
        line-height: 120%;
        color: #F8F7E5;
        max-width: 1816px;
        padding-right: 80px;

    }
}

app-footer {
    width: 100%;
    position: relative;
    top: 140px;
}