.main-content {
    background-color: #F8F7E5;
    height: 100vh;
    width: 100%;
    font-family: 'eczarRegular';
    display: flex;
    flex-direction: column;
    padding-top: 170px;
    max-width: 2000px;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1900px;
}

h1 {
    font-size: clamp(36px, 4vw, 72px);
    font-weight: 700;
    font-family: 'eczarBold';
    line-height: 100%;
}

.portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: #1D1D1D;
    margin-bottom: 60px;
    width: 93%;
    max-width: 1588px;
    padding-right: 50px;
    gap: 50px;


    span {
        width: 600px;
        line-height: 120%;
        font-family: 'quicksandBook';
        font-size: 16px;
    }
}