.main-content {
    background-color: #F8F7E5;
    height: 100vh;
    width: 100vw;
    font-family: 'eczarRegular';
    display: flex;
    flex-direction: column;
    padding-top: 170px;
  padding-left: 112px;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1900px;
}

h1 {
    font-size: 72px;
    font-weight: 700;
    font-family: 'eczarBold';
}

.portfolio-header {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    color: #1D1D1D;
    column-gap: 136px;
    margin-bottom: 60px;


    span {
        width: 600px;
        line-height: 120%;
        font-family: 'quicksandBook';
        font-size: 16px;
    }
}

