<div class="main-content">
  <div class="portfolio-header">
    <h1>{{ headerTranslations.title[currentLang] }}</h1>
    <span>{{ headerTranslations.intro[currentLang] }}</span>
  </div>

  <div class="project-wrapper" [@slideFade]="currentIndex">
    <app-project
      [title]="current.title"
      [description]="current.description[currentLang]"
      [imageUrl]="current.imageUrl"
      [projectLink]="current.projectLink"
      [gitHubLink]="current.gitHubLink"
      [color]="current.color"
      [iconUrl]="current.iconUrl"
      [skillset]="current.skillset"
      [hoverInfo]="current.hoverInfo[currentLang]"
      (prev)="prevProject()"
      (next)="nextProject()"
    ></app-project>
  </div>
</div>
