<div class="main-content">
  <div class="portfolio-header">
    <h1>My Work</h1>
    <span>
      Explore a selection of my work here - Interact with the projects to see my skills in action.
    </span>
  </div>

  <div class="project-wrapper" [@slideFade]="currentIndex">
    <app-project
      [title]="current.title"
      [description]="current.description"
      [imageUrl]="current.imageUrl"
      [projectLink]="current.projectLink"
      [gitHubLink]="current.gitHubLink"
      [color]="current.color"
      [iconUrl]="current.iconUrl"
      [skillset]="current.skillset"
      [hoverInfo]="current.hoverInfo"
      (prev)="prevProject()"
      (next)="nextProject()"
    ></app-project>
  </div>
</div>
