<div class="main-content">
  <div class="portfolio-header">
    <h1>Meine Werke</h1>
    <span>
Entdecke hier eine Auswahl meiner Arbeiten – interagiere mit den Projekten und erlebe meine Fähigkeiten in Aktion.    </span>
  </div>

  <div class="project-wrapper" [@slideFade]="currentIndex">
    <app-project
      [title]="current.title"
      [description]="current.description"
      [imageUrl]="current.imageUrl"
      [projectLink]="current.projectLink"
      [gitHubLink]="current.gitHubLink"
      [color]="current.color"
      [iconUrl]="current.iconUrl"
      [skillset]="current.skillset"
      [hoverInfo]="current.hoverInfo"
      (prev)="prevProject()"
      (next)="nextProject()"
    ></app-project>
  </div>
</div>
