.main-content {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    min-height: 76dvh;
    max-width: 1920px;
    width: 100%;
    margin: 0;
    padding-top: 2rem;

    @media screen and (max-width: 510px) {
        gap: 24px;
        padding: 1.5rem 8px 0px 8px;
    }
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

h1 {
    font-size: clamp(36px, 5vw, 72px);
    font-weight: 700;
    font-family: 'eczarBold';
    line-height: 100%;
    margin: 0px;
}

.portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: #1D1D1D;
    padding-bottom: 42px;
    width: 100%;
    padding-right: 50px;
    gap: 50px;
    padding-top: 42px;

    @media screen and (max-width: 1425px) {
        flex-direction: column;
        align-items: start;
    }

    @media screen and (max-width: 510px) {
        flex-direction: column;
        padding-bottom: 4px;
        padding-right: unset;
        padding-top: 4px;
        gap: 8px;
    }

    span {
        max-width: 600px;
        width: 92%;
        line-height: 120%;
        font-family: 'quicksandBook';
        font-size: clamp(16px, 1.5vw, 18px);
    }
}