.colleague-comment {
  background-color: transparent;
  border: 1px solid #F8F7E5;
  padding: clamp(16px, 4vw, 32px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  @media screen and (max-width: 1100px) {
    padding: 12px
  }

  @media screen and (max-height: 905px) {
    padding: 2px
  }

  div {
    display: flex;
    align-items: center;
    gap: 96px;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-direction: row;
    width: 100%;

    @media screen and (max-height: 905px) {
      margin-bottom: 2px;
    }
  }

  h2 {
    font-family: 'quicksandBold';
    font-size: clamp(18px, 2vw, 24px);
    color: #F8F7E5;
    line-height: 120%;
    margin: 0px;
  }

  img {
    width: clamp(24px, 5vw, 40px);
    height: clamp(24px, 5vw, 40px);
    opacity: 0;
    transform: rotate(180deg);
    transition: opacity 0.4s ease, transform 0.4s ease;
  }


  &:hover img {
    opacity: 1;
    transform: rotate(0deg);
  }

  p {
    @media screen and (max-height: 905px) {
      margin-bottom: 6px;
    }
  }

  p:first-of-type {
    font-family: 'quicksandBook';
    font-size: clamp(16px, 1.5vw, 20px);
    color: #F8F7E5;
    line-height: 150%;
  }

  p:nth-of-type(2) {
    font-size: clamp(16px, 1.5vw, 20px);
    font-family: 'quicksandBold';
  }
}

a {
  text-decoration: none;
  font-size: clamp(16px, 1.5vw, 20px);
  font-family: 'quicksandBold';
  color: #F8F7E5;
  margin-top: 10px;

  @media screen and (max-height: 905px) {
    margin-top: 6px;
  }
}

.comment-block {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  gap: 8px;

  @media screen and (max-height: 905px) {
    gap: 4px;
  }
}