.main-container {
  height: 73vh;
  overflow: hidden;
}

.pager-container {
  position: absolute;
  overflow-y: auto;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: -webkit-fill-available;
}

.pager-section {
  min-height: 100%;
  height: -webkit-fill-available;
  min-width: 100%;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #679aac;
  color: #fff;
  max-width: 2000px;
  position: relative;
  height: 100%;
  align-items: start;
  scroll-snap-align: start;
  padding-bottom: env(safe-area-inset-bottom);
}

.pager-section#hero {
  padding: 0px;
  padding-bottom: 0px;
  padding-left: 112px;

  @media screen and (max-width: 1247px) {
    padding: 20px;
    padding-bottom: 0px;
    padding-left: 42px;
  }

  @media screen and (max-width: 690px) {
    padding: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
  }
}


.pager-section#about {
  background: #F8F7E5;
  color: #1D1D1D;
  max-width: 100%;
  padding: 80px;
  padding-left: 112px;

  @media screen and (max-width: 1247px) {
    padding: 20px;
    padding-bottom: 0px;
    padding-left: 42px;
  }

  @media screen and (max-width: 690px) {
    padding: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
  }
}

.pager-section#portfolio {
  background: #F8F7E5;
  max-width: 100%;
  padding: 80px;
  padding-left: 112px;

  @media screen and (max-width: 1247px) {
    padding: 20px;
    padding-bottom: 0px;
    padding-left: 42px;
  }

  @media screen and (max-width: 690px) {
    padding: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
  }
}

.pager-section#skills {
  background: #1D1D1D;
  max-width: 100%;
  padding: 80px;
  padding-left: 112px;
  padding-top: 256px;

  @media screen and (max-width: 1247px) {
    padding: 20px;
    padding-left: 42px;
    padding-right: 80px;
    padding-top: 180px;

  }


  @media screen and (max-width: 690px) {
    padding: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-top: 180px;

  }


  @media screen and (max-height: 780px) {
    padding-top: 72%;
  }


}

.pager-section#references {
  width: 100%;
  padding: 80px;
  padding-left: 112px;

  @media screen and (max-width: 1247px) {
    padding: 20px;
    padding-bottom: 0px;
    padding-left: 42px;
  }

  @media screen and (max-width: 690px) {
    padding: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
  }
}

.pager-section#contact {
  background: #1D1D1D;
  width: 100%;
  padding: 80px;
  padding-left: 112px;

  @media screen and (max-width: 1247px) {
    padding: 20px;
    padding-bottom: 0px;
    padding-left: 42px;
  }

  @media screen and (max-width: 690px) {
    padding: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
  }
}


.page-wrapper {
  max-width: 1900px;
  margin: 0 auto;
  position: relative;
}

.dot-nav {
  position: fixed;
  top: 50%;
  right: clamp(20px, (100vw - 2072px), 1900px) !important;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
  padding: 20px;
  padding-right: 81px;
  max-width: 1900px;
  z-index: 10000;

  @media screen and (max-width: 690px) {
    display: none;
  }
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.3;
  border: 2px solid #679AAC;
  cursor: pointer;
  transition: background 0.2s, opacity 0.2s, box-shadow 0.2s;

  &.active,
  &:hover {
    background: #FF834F;
    opacity: 1;
    box-shadow: 0 0 0 4px #ff834f33;
  }
}