<div class="pager-container">
  <div *ngFor="let section of sections; let i = index" #sectionRef class="pager-section" [id]="section.id">

    <ng-container class="main-container" [ngSwitch]="section.id">
      <app-hero-section (scrollToBottom)="scrollToSection(5)" *ngSwitchCase="'hero'"></app-hero-section>
      <app-about-me *ngSwitchCase="'about'"></app-about-me>
      <app-skillset *ngSwitchCase="'skills'"></app-skillset>
      <app-portfolio *ngSwitchCase="'portfolio'"></app-portfolio>
      <app-references *ngSwitchCase="'references'"></app-references>
      <app-contact-me (scrollToTop)="scrollToSection(0)" *ngSwitchCase="'contact'"></app-contact-me>
    </ng-container>

  </div>

  <nav class="dot-nav">
    <button *ngFor="let s of sections; let idx = index" class="dot" [class.active]="idx === currentSectionIndex"
      (click)="scrollToSection(idx)" [attr.aria-label]="s.label"></button>
  </nav>
</div>