.main-container {
  height: 73vh;
  overflow: hidden;
}

.pager-container {
  position: absolute;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.pager-section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  background: #679aac;
  color: #fff;
  max-width: 100%;
  padding: 60px;
  padding-left: 112px;
  position: relative;
}

.pager-section#about {
  background: #F8F7E5;
  color: #1D1D1D;
  max-width: 100%;
  padding: 60px;
  padding-left: 112px;
}

.pager-section#portfolio {
  background: #F8F7E5;
  max-width: 100%;
  padding: 60px;
  padding-left: 112px;
}

.pager-section#skills {
  background: #1D1D1D;
  max-width: 100%;
  padding: 60px;
  padding-left: 112px;
}

.pager-section#contact {
  background: #1D1D1D;
  max-width: 100%;
  padding: 60px;
  padding-left: 112px;
  padding-top: 0px;
}


.page-wrapper {
  max-width: 1900px;
  margin: 0 auto;
  position: relative;
}

.dot-nav {
  position: fixed;
  top: 50%;
  right: 75px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.3;
  border: 2px solid #679AAC;
  cursor: pointer;
  transition: background 0.2s, opacity 0.2s, box-shadow 0.2s;

  &.active,
  &:hover {
    background: #FF834F;
    opacity: 1;
    box-shadow: 0 0 0 4px #ff834f33;
  }
}


.arrow-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  /* Linie standard unsichtbar */
  transition: border-color .2s ease;
  width: max-content;
  padding: 8px 10px;


  &:hover {
    border-bottom: 2px solid #FF834F;
    /* Linie wird orange */
  }
}

.bounce-arrow {
  width: 40px;
  height: 40px;
  pointer-events: none;
  user-select: none;
  opacity: 0;
  transform-origin: bottom center;
  animation: jumpSquash 1.2s cubic-bezier(.22, .61, .36, 1) infinite;
  will-change: transform;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, .25));
  transition: filter .2s ease;

  .arrow-wrapper:hover & {
    filter: brightness(0) saturate(100%) invert(52%) sepia(75%) saturate(726%) hue-rotate(338deg) brightness(98%) contrast(96%);
  }
}


.pager-section#contact .bounce-arrow {
  opacity: 1;
  pointer-events: auto;
}


@keyframes jumpSquash {
  0% {
    transform: translateY(0) scaleX(1) scaleY(1);
  }

  35% {
    transform: translateY(-18px) scaleX(1) scaleY(1);
  }

  80% {
    transform: translateY(0) scaleX(1) scaleY(0.78);
  }

}

@media (prefers-reduced-motion: reduce) {
  .bounce-arrow {
    animation: none;
  }
}