.pager-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.pager-section {
  height: 100dvh; /* ✅ hält Viewport stabil */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  overflow: hidden;
  padding-bottom: env(safe-area-inset-bottom); /* ✅ berücksichtigt iPhone Taskbar */
  box-sizing: border-box;
}


.pager-section#hero {
  background: #679aac;
  color: #fff;

  @media screen and (max-width: 1247px) {}

  @media screen and (max-width: 690px) {}
}


.pager-section#about {
  background: #F8F7E5;
  color: #1D1D1D;

  @media screen and (max-width: 1247px) {}

  @media screen and (max-width: 690px) {}
}

.pager-section#portfolio {
  background: #F8F7E5;

  @media screen and (max-width: 1247px) {}

  @media screen and (max-width: 690px) {}

      @media screen and (max-width: 510px) {
        justify-content: start;
        padding-top: 2rem;
      }
}

.pager-section#skills {
  background: #1D1D1D;

  @media screen and (max-width: 1247px) {}


  @media screen and (max-width: 690px) {}


  @media screen and (max-height: 780px) {}


}

.pager-section#references {
  background: #679aac;
  color: #fff;
  width: 100%;


  @media screen and (max-width: 1247px) {}

  @media screen and (max-width: 690px) {}
}

.pager-section#contact {
  background: #1D1D1D;
  padding-bottom: calc(32px + env(safe-area-inset-bottom)); /* 👈 iPhone fix */
}



.page-wrapper {
  margin: 0 auto;
  position: relative;
}

.dot-nav {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
  padding: 28px;
  z-index: 100;

  @media screen and (max-width: 690px) {
    display: none;
  }
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.3;
  border: 2px solid #679AAC;
  cursor: pointer;
  transition: background 0.2s, opacity 0.2s, box-shadow 0.2s;

  &.active,
  &:hover {
    background: #FF834F;
    opacity: 1;
    box-shadow: 0 0 0 4px #ff834f33;
  }
}