@import 'bootstrap/dist/css/bootstrap.min.css';

button {
    cursor: pointer;
}

:root {
  --page-max: 1900px;
}

html, body {
  height: 100dvh;
  overflow-x: hidden; /* verhindert horizontales Ausbluten */
      overflow-y: scroll; // eigenes Scrollen bleibt
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // IE/Edge

    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        display: none;
}
}

@font-face {
    font-family: 'eczarBold';
    src: url('assets/fonts/eczar/Eczar-Bold.ttf');
    font-size: larger;
}

@font-face {
    font-family: 'eczarExtraBold';
    src: url('assets/fonts/eczar/Eczar-ExtraBold.ttf');
}

@font-face {
    font-family: 'eczarMedium';
    src: url('assets/fonts/eczar/Eczar-Medium.ttf');
}

@font-face {
    font-family: 'eczarRegular';
    src: url('assets/fonts/eczar/Eczar-Regular.ttf');
}

@font-face {
    font-family: 'eczarSemiBold';
    src: url('assets/fonts/eczar/Eczar-SemiBold.ttf');
}

@font-face {
    font-family: 'quicksandBold';
    src: url('assets/fonts/quicksand/Quicksand_Bold.otf');
}

@font-face {
    font-family: 'quicksandBoldOblique';
    src: url('assets/fonts/quicksand/Quicksand_Bold_Oblique.otf');
}

@font-face {
    font-family: 'quicksandBook';
    src: url('assets/fonts/quicksand/Quicksand_Book.otf');
}

@font-face {
    font-family: 'quicksandBookOblique';
    src: url('assets/fonts/quicksand/Quicksand_Book_Oblique.otf');
}

@font-face {
    font-family: 'quicksandDash';
    src: url('assets/fonts/quicksand/Quicksand_Dash.otf');
}

@font-face {
    font-family: 'quicksandLight';
    src: url('assets/fonts/quicksand/Quicksand_Light.otf');
}

@font-face {
    font-family: 'quicksandLightOblique';
    src: url('assets/fonts/quicksand/Quicksand_Light_Oblique.otf');
}


@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin-reverse {
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes spin-reverse {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes spin-reverse {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}


@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-18px);
    }

    100% {
        transform: translateY(0);
    }
}

