<div class="main-content">
    <div class="text-section">
    <h1>Kernkompetenzen</h1>
    <span class="text">In meinen Projekten habe ich vielfältige Frontend-Technologien eingesetzt – von
        objektorientierter Programmierung in JavaScript beim Sharky Jump’n’Run-Spiel über die Implementierung einer
        komplexen API-Schnittstelle in der Business-App Join bis hin zur visuellen Aufbereitung von Benutzerdaten für
        eine klare und ansprechende User Experience. Dabei konnte ich sowohl mit statischen als auch mit dynamischen
        Webanwendungen arbeiten und wertvolle Erfahrung in responsiven Layouts und interaktiven Oberflächen
        sammeln.</span>
        </div>
    <div class="skillset-container">
        <div class="icon-section">
            <div>
                <span>HTML</span>
                <img src="assets/img/html.png" alt="HTML5 Icon" class="skill-icon">
            </div>
            <div>
                <span>CSS</span>
                <img src="assets/img/css.png" alt="css Icon" class="skill-icon">
            </div>
            <div>
                <span>JavaScript</span>
                <img src="assets/img/JavaScript.png" alt="JavaScript Icon" class="skill-icon">
            </div>
            <div>
                <span>TypeScript</span>
                <img src="assets/img/TypeScript.png" alt="TypeScript Icon" class="skill-icon">
            </div>
            <div>
                <span>Angular</span>
                <img src="assets/img/Angular.png" alt="Angular Icon" class="skill-icon">
            </div>
            <div>
                <span>Firebase</span>
                <img src="assets/img/Firebase.png" alt="Firebase Icon" class="skill-icon">
            </div>
            <div>
                <span>Git</span>
                <img src="assets/img/Git.png" alt="Git Icon" class="skill-icon">
            </div>
            <div>
                <span>REST-API</span>
                <img src="assets/img/REST-API.png" alt="REST-API Icon" class="skill-icon">
            </div>
            <div>
                <span>SCRUM</span>
                <img src="assets/img/SCRUM.png" alt="SCRUM Icon" class="skill-icon">
            </div>
            <div>
                <span>Material Design</span>
                <img src="assets/img/Material-Design.png" alt="Material-Design Icon" class="skill-icon">
            </div>
        </div>
        <div class="img-section">
            <div class="mindset-icon">
                <img src="assets/img/Component 11.png" class="skillsetImg">
                <img src="assets/img/Learning.png" class="learning-emoji">
            </div>
            <div class="growth-mindset-container">
                <h2>Du findest nicht die Fähigkeit, die du suchst?</h2>
                <span>Gerne können Sie mich kontaktieren. Ich freue mich darauf, mein bisheriges Wissen weiter
                    auszubauen. Außerdem habe ich ein besonderes Interesse daran, folgendes zu lernen:</span>
                <div>
                    <div>
                        <span>React</span>
                        <img src="assets/img/React.png" alt="REST-API Icon" class="skill-icon">
                    </div>
                    <div>
                        <span>Vue.js</span>
                        <img src="assets/img/Vue.Js.png" alt="SCRUM Icon" class="skill-icon">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>