.main-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #1D1D1D;
    height: 100vh;
    width: 100%;
    max-width: 2000px;
}

.text-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding: 0 60px;
    gap: 20px;
    position: absolute;

    @media screen and (max-width: 1550px) {}
}

.text {
    width: 45%;
    height: max-content;
    color: #F8F7E5;
    background-color: #679AAC;
    padding: 32px;
    font-size: clamp(14px, 1vw, 16px);
    font-family: 'quicksandBook';
    font-weight: 100;
    max-width: 800px;


    @media screen and (max-width: 1850px) {
        width: 38%;

    }
}


h1 {
    color: #F8F7E5;
    font-size: 72px;
    font-family: 'eczarBold';
    font-weight: 600;
    padding-top: 150px;
    padding-bottom: 100px;
}

.icon-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 38px;
    margin-top: 20px;
    width: 50%;
    height: 283px;
    flex-wrap: wrap;
    max-width: 765px;


    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-family: 'quicksandBook';
            width: 96px;
            padding-top: 32px;
        }

        img {
            transition: transform 0.20s cubic-bezier(.4, 0, .2, 1);
            will-change: transform;
            cursor: pointer;
        }

        img:hover,
        img:focus-visible {
            transform: scale(1.25);
        }
    }
}


.skillset-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding-right: 60px;
    top: 392px;
    max-width: 1832px;

    @media screen and (max-width: 1247px) {
        top: 216px;
    }
}

.mindset-icon {
    position: relative;

    @media screen and (max-width: 1247px) {}
}

.growth-mindset-container {
    width: 360px;
    height: 285px;
    background-color: #F9AF42;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 600px;
    bottom: 150px;
 transform: translate(-50%, 100%);
    opacity: 0;
    border: solid 1px #F8F7E5;
    border-radius: 4px;
    transition: transform 0.5s cubic-bezier(.21, 1.11, .84, .86), opacity 0.35s;

    @media screen and (max-width: 1720px) {
        left: 317px;
        bottom: 66px;
    }


    h2 {
        font-family: 'quicksandBold';
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        padding: 0px;
    }

    span {
        font-family: 'quicksandBook';
        font-weight: 100;
        font-size: 16px;
        text-align: center;
        padding: 10px 20px;
        text-align: center;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            padding: 0 10px;

            img {
                width: 40px;
                height: 40px;
            }

            span {
                padding-top: 10px;
            }
        }
    }
}

.mindset-icon:hover+.growth-mindset-container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -167px);
}


.img-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 200px;
    position: relative;
    top: 352px;
}

.skillsetImg {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: start;
    align-items: end;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

.learning-emoji {
    padding-bottom: 50px;
    position: relative;
    bottom: 80px;
    cursor: pointer;
    left: 40px;

}