.main-content {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: row;
    min-height: 100dvh;
    max-width: 2040px;
    width: 100vw;
    position: relative;
    margin: 0 auto;
    padding-top: 3.5rem;

    @media screen and (max-width: 690px) {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    @media (max-height: 700px) {
        max-width: 1500px;
    }
}

.text-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    padding-top: clamp(4px, 2vw, 150px);

    @media screen and (max-width: 690px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 4px;
        padding-bottom: 20px;
    }
}

.text {
    width: 100%;
    height: max-content;
    color: #F8F7E5;
    background-color: #679AAC;
    padding: clamp(16px, 2vw, 32px);
    font-size: clamp(16px, 1.5vw, 18px);
    font-family: 'quicksandBook';
    font-weight: 100;
    max-width: 800px;

    @media screen and (max-width: 690px) {
        width: 100%;
    }
}


h1 {
    color: #F8F7E5;
    font-size: clamp(32px, 5vw, 72px);
    font-family: 'eczarBold';
    font-weight: 600;
    padding-bottom: 100px;
    padding-top: 56px;
    white-space: nowrap;
    text-align: center;

    @media screen and (max-width: 1016px) {
        padding-bottom: 40px;
    }

    @media screen and (max-width: 500px) {
        padding-bottom: 0px;
        padding-top: 4px;
    }

    @media screen and (max-height: 800px) {
        @media screen and (max-width: 690px) {
            padding-bottom: 0px;
            padding-top: 4px;
        }
    }

    @media screen and (max-height: 690px) {
        width: 107%;
        margin-bottom: 4px;
    }

}

.icon-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: 283px;
    flex-wrap: wrap;

    @media screen and (max-width: 1093px) {
        position: relative;
    }

    @media screen and (max-width: 1016px) {}

    @media screen and (max-width: 690px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 4px;
        padding-top: 16px;
    }



    @media screen and (max-height: 700px) {
        position: relative;
        bottom: 120px;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-family: 'quicksandBook';
            width: 127px;
            padding-top: clamp(4px, 2vw, 32px);
            color: #F8F7E5;
            text-align: center;

            @media screen and (max-width: 1016px) {
                font-size: clamp(16px, 2vw, 20px);
                width: clamp(80px, 4vw, 127px);
                height: auto;
            }

            @media screen and (max-width: 690px) {
                padding-top: 12px;
            }

            @media screen and (max-height: 761px) {
                @media screen and (max-width: 1094px) {
                    padding-top: 4px;
                }
            }
        }

        img {
            transition: transform 0.20s cubic-bezier(.4, 0, .2, 1);
            will-change: transform;
            cursor: pointer;
            width: clamp(40px, 5vw, 72px);


            @media screen and (max-width: 510px) {
                width: clamp(30px, 9vw, 40px);
                height: auto;
            }

            @media screen and (max-height: 761px) {
                @media screen and (max-width: 1094px) {
                    width: clamp(26px, 8vw, 40px);
                }
            }
        }

        img:hover,
        img:focus-visible {
            transform: scale(1.25);
        }
    }
}


.skillset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    position: relative;
    top: 280px;

    @media screen and (max-width: 1430px) {
        top: 203px;
    }

    @media screen and (max-width: 1093px) {
        top: 288px;
    }

    @media screen and (max-width: 1016px) {
        top: 143px;
    }

    @media screen and (max-width: 690px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: unset;
    }

    @media screen and (max-height: 1083px) {

        @media screen and (max-width: 1089px) {
            top: 146px;
        }

        @media screen and (max-width: 690px) {
            top: unset;
        }
    }

    @media screen and (max-height: 960px) {

        @media screen and (max-width: 840px) {
            top: 72px;
        }
    }

    @media screen and (max-height: 900px) {

        @media screen and (max-width: 690px) {
            top: unset;
        }
    }

    @media screen and (max-height: 761px) {
        top: 50px;

        @media screen and (max-width: 1094px) {}
    }

    @media screen and (max-height: 700px) {
        top: 196px;

        @media screen and (max-width: 690px) {
            top: 94px;
        }
    }

}

.growth-mindset-container {
    width: clamp(260px, 40vw, 360px);
    height: auto;
    padding: 16px;
    background-color: #f39200;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    position: relative;
    left: 113%;
    bottom: 150px;
    transform: translate(-50%, 100%);
    opacity: 0;
    border: solid 1px #F8F7E5;
    border-radius: 4px;
    transition: transform 0.5s cubic-bezier(.21, 1.11, .84, .86), opacity 0.35s;


    @media screen and (max-width: 1062px) {
        left: 138%;
    }

    @media screen and (max-width: 690px) {
        position: absolute;
        left: 116%;
        bottom: -43px;
    }

    @media screen and (max-height: 1170px) {

        @media screen and (max-width: 1062px) {
            left: 138%;
        }

        @media screen and (max-width: 690px) {
            position: absolute;
            left: 122%;
            bottom: -43px;
        }
    }

    @media screen and (max-height: 994px) {
        bottom: 40px;

        @media screen and (max-width: 1230px) {
            left: 138%;
        }

        @media screen and (max-width: 690px) {
            position: absolute;
            left: 120%;
        }

        @media screen and (max-width: 480px) {
            left: 110%;
        }
    }



    h2 {
        font-family: 'quicksandBold';
        font-weight: 700;
        font-size: clamp(18px, 2vw, 24px);
        text-align: center;
        padding: 0px;
        color: #F8F7E5;
    }

    span {
        font-family: 'quicksandBook';
        font-weight: 100;
        padding-bottom: clamp(6px, 1.2vw, 10px);
        font-size: clamp(16px, 1.5vw, 20px);
        align-items: stretch;
        text-align: justify;
        color: #F8F7E5;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            padding: 0 10px;

            img {
                width: clamp(30px, 4vw, 40px);
                height: clamp(30px, 4vw, 40px);
            }

            span {
                padding-top: clamp(6px, 1.2vw, 10px);
            }
        }
    }
}

.mindset-icon:hover+.growth-mindset-container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-423px, -101px);

    @media screen and (max-width: 850px) {
        transform: translate(-348px, -248px);

    }

    @media screen and (max-width: 690px) {
        transform: translate(-47%, -152%);
    }

    @media screen and (max-height: 1270px) {
        transform: translate(-423px, 2px);

        @media screen and (max-width: 850px) {
            transform: translate(-348px, -248px);

        }

        @media screen and (max-width: 690px) {
            transform: translate(-50%, -44%);
        }
    }
}


.img-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 39%;
    position: absolute;
    bottom: 231px;
    left: 20px;


    @media screen and (max-width: 690px) {
        bottom: 0px
    }

    @media screen and (max-height: 1270px) {
        bottom: 0px;

        @media screen and (max-width: 850px) {}

        @media screen and (max-width: 690px) {}
    }
}

.mindset-icon {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(60px, 8vw, 120px);
    height: clamp(60px, 8vw, 120px);
    bottom: 24px;
}

.skillsetImg {
    width: 100%;
    height: auto;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

.learning-emoji {
    position: absolute;
    bottom: 29%;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(20px, 3vw, 50px);
    height: auto;
    cursor: pointer;
}

.close-btn {
    padding: 0;
    display: none;
    border: none;
    background-color: #f39200;
    justify-content: end;
    align-items: end;
    width: 100%;

    @media screen and (max-width: 690px) {
        display: flex;
        cursor: pointer;
        bottom: 20px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .close-btn {
        display: none;
    }
}