.main-content {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: row;
    min-height: 100dvh;
    max-width: 2040px;
    width: 100vw;
    position: relative;
    margin: 0 auto;

    @media screen and (max-width: 690px) {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }


}

.text-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 50%;
    gap: 20px;

    @media screen and (max-width: 690px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 4px;
    }

    @media screen and (max-width: 510px) {}

    @media screen and (max-height: 540px) {}
}

.text {
    width: 100%;
    height: max-content;
    color: #F8F7E5;
    background-color: #679AAC;
    padding: clamp(16px, 2vw, 32px);
    font-size: clamp(14px, 1vw, 16px);
    font-family: 'quicksandBook';
    font-weight: 100;
    max-width: 800px;

    @media screen and (max-width: 690px) {
        width: 100%;
    }
}


h1 {
    color: #F8F7E5;
    font-size: clamp(36px, 5vw, 72px);
    font-family: 'eczarBold';
    font-weight: 600;
    padding-bottom: 100px;
    padding-top: 56px;

    @media screen and (max-width: 1016px) {
        padding-bottom: 40px;
    }

    @media screen and (max-width: 500px) {
        padding-bottom: 0px;
        padding-top: 4px;
    }

    @media screen and (max-height: 680px) {}

    @media screen and (max-height: 635px) {}

}

.icon-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: 283px;
    flex-wrap: wrap;

    @media screen and (max-width: 1093px) {
        bottom: 164px;
        position: relative;
    }

    @media screen and (max-width: 1016px) {
        bottom: unset;
    }


    @media screen and (max-width: 690px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 8px;
        padding-top: 16px;
    }



    @media screen and (max-height: 800px) {}

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;



        span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-family: 'quicksandBook';
            width: 127px;
            padding-top: 32px;
            color: #F8F7E5;
            text-align: center;

            @media screen and (max-width: 1016px) {
                font-size: clamp(12px, 4vw, 16px);
                width: clamp(90px, 4vw, 127px);
                height: auto;
            }

            @media screen and (max-width: 690px) {
                padding-top: 12px;
            }
        }

        img {
            transition: transform 0.20s cubic-bezier(.4, 0, .2, 1);
            will-change: transform;
            cursor: pointer;

            @media screen and (max-width: 1016px) {
                width: clamp(30px, 12vw, 40px);
                height: auto;
            }

            @media screen and (max-width: 510px) {
                width: clamp(30px, 9vw, 40px);
                height: auto;
            }
        }

        img:hover,
        img:focus-visible {
            transform: scale(1.25);
        }
    }
}




.skillset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    position: relative;
    top: 280px;

    @media screen and (max-width: 1430px) {
        top: 203px;
    }

    @media screen and (max-width: 1016px) {
        top: 143px;
    }


    @media screen and (max-width: 690px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: unset;
    }

    @media screen and (max-width: 690px) {}

    @media screen and (max-width: 510px) {}

    @media screen and (max-height: 900px) {
        top: 124px;

        @media screen and (max-width: 690px) {
            top: unset;
        }
    }

}

.growth-mindset-container {
    width: clamp(260px, 40vw, 360px);
    height: auto;
    padding: 16px;
    background-color: #F9AF42;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 113%;
    bottom: 150px;
    transform: translate(-50%, 100%);
    opacity: 0;
    border: solid 1px #F8F7E5;
    border-radius: 4px;
    transition: transform 0.5s cubic-bezier(.21, 1.11, .84, .86), opacity 0.35s;


    @media screen and (max-width: 1062px) {
        left: 138%;
    }

    @media screen and (max-width: 1247px) {}

    @media screen and (max-width: 690px) {
        position: absolute;
        left: 230%;
        bottom: -43px;
    }

    @media screen and (max-height: 1170px) {
        bottom: 0px;

        @media screen and (max-width: 1062px) {
            left: 138%;
        }

        @media screen and (max-width: 1247px) {}

        @media screen and (max-width: 690px) {
            position: absolute;
            left: 230%;
            bottom: -43px;
        }
    }

    @media screen and (max-height: 994px) {
        bottom: -42px;

        @media screen and (max-width: 1230px) {
            left: 138%;
        }

        @media screen and (max-width: 1247px) {}

        @media screen and (max-width: 690px) {
            position: absolute;
            left: 230%;
            bottom: -43px;
        }
    }

    h2 {
        font-family: 'quicksandBold';
        font-weight: 700;
        font-size: clamp(18px, 2vw, 24px);
        text-align: center;
        padding: 0px;
    }

    span {
        font-family: 'quicksandBook';
        font-weight: 100;
        padding-bottom: clamp(6px, 1.2vw, 10px);
        font-size: clamp(12px, 1.2vw, 14px);
        text-align: center;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            padding: 0 10px;

            img {
                width: clamp(30px, 4vw, 40px);
                height: clamp(30px, 4vw, 40px);
            }

            span {
                padding-top: clamp(6px, 1.2vw, 10px);
            }
        }
    }
}

.mindset-icon:hover+.growth-mindset-container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-120%, -167px);
}


.img-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 39%;
    position: absolute;
    bottom: 0px;
    left: 20px;

    @media screen and (max-width: 1516px) {}

    @media screen and (max-width: 1023px) {}

    @media screen and (max-width: 510px) {}
}

.mindset-icon {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(60px, 8vw, 120px);
    height: clamp(60px, 8vw, 120px);
    bottom: 24px;

    @media screen and (max-height: 1023px) {}

}

.skillsetImg {
    width: 100%;
    height: auto;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

.learning-emoji {
    position: absolute;
    bottom: 29%;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(20px, 3vw, 50px);
    height: auto;
    cursor: pointer;
}

.close-btn {
    padding: 0;
    display: none;
    border: none;
    background-color: #F9AF42;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
}

@media (hover: none) and (pointer: coarse) {
    .close-btn {
        display: inline-flex;
    }
}

@media (hover: hover) and (pointer: fine) {
    .close-btn {
        display: none;
    }
}