.main-content {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: row;
    min-height: 100dvh; // volle Höhe, dynamisch auch auf Mobile
    max-width: 2040px;
    width: 100vw;
    position: relative;
    margin: 0 auto;

    @media screen and (max-width: 510px) {
        flex-direction: column;
        width: 100%;
        padding: 0px;
        /* ein bisschen Luft */

    }

    @media screen and (max-height: 800px) {
        padding: 0px;
        /* ein bisschen Luft */
    }
}

.text-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    position: absolute;

    @media screen and (max-height: 590px) {
        gap: 6px;
    }

    @media screen and (max-width: 510px) {
        align-items: center;
        position: relative;
    }


    @media screen and (max-height: 540px) {
        padding-top: 144px;
    }
}

.text {
    width: 45%;
    height: max-content;
    color: #F8F7E5;
    background-color: #679AAC;
    padding: clamp(16px, 2vw, 32px);
    font-size: clamp(14px, 1vw, 16px);
    font-family: 'quicksandBook';
    font-weight: 100;
    max-width: 800px;


    @media screen and (max-width: 1850px) {}

    @media screen and (max-width: 510px) {
        width: 100%;
    }
}


h1 {
    color: #F8F7E5;
    font-size: clamp(36px, 5vw, 72px);
    font-family: 'eczarBold';
    font-weight: 600;
    padding-bottom: 100px;
    padding-top: 36px;



    @media screen and (max-width: 1400px) {}

    @media screen and (max-width: 1247px) {
        padding-bottom: 18px;

    }

    @media screen and (max-height: 800px) {
        margin-bottom: 0px;
        padding-bottom: 4px;

    }

    @media screen and (max-height: 680px) {
        padding-top: 20%;
        padding-bottom: 4px;

    }

    @media screen and (max-height: 635px) {
        padding-top: 33%;

    }

}

.icon-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 38px;
    margin-top: 20px;
    width: 40%;
    height: 283px;
    flex-wrap: wrap;
    max-width: 765px;

    @media screen and (max-width: 1200px) {
        gap: 20px;
    }

    @media screen and (max-width: 690px) {
        width: 49%;
    }

    @media screen and (max-width: 510px) {
        flex-direction: row;
        width: 83%;
    }

    @media screen and (max-height: 800px) {
        margin-top: 10px;
        height: 50%;
        //        top: -104px;

    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-family: 'quicksandBook';
            width: 96px;
            padding-top: 32px;

            /* 📱 Anpassung <= 1200px */
            @media screen and (max-width: 1200px) {
                font-size: clamp(12px, 1.2vw, 14px);
                padding-top: 20px;
            }

            /* 📱 Anpassung <= 390px */
            @media screen and (max-width: 510px) {
                font-size: 12px;
                width: auto;
                /* nicht mehr fix */
                padding-top: 10px;
            }
        }

        img {
            transition: transform 0.20s cubic-bezier(.4, 0, .2, 1);
            will-change: transform;
            cursor: pointer;

            /* 📱 Anpassung <= 390px */
            @media screen and (max-width: 510px) {
                width: clamp(30px, 12vw, 40px);
                height: auto;
            }
        }

        img:hover,
        img:focus-visible {
            transform: scale(1.25);
        }
    }
}




.skillset-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-right: 272px;
    top: 280px;

    @media screen and (max-width: 1516px) {
        top: 88px;
    }

    @media screen and (max-width: 1247px) {
        margin-right: 23%;

    }

    @media screen and (max-width: 1023px) {
        top: 60px;
    }


    @media screen and (max-width: 690px) {
        margin-right: 10%;
    }

    @media screen and (max-width: 510px) {
        flex-direction: column;
        width: 100%;
        top: 0;
    }



}

.growth-mindset-container {
    width: clamp(260px, 40vw, 360px);
    /* Breite passt sich an Viewport-Breite an */
    height: auto;
    /* Höhe passt sich dynamisch am Text an */
    padding: 16px;
    background-color: #F9AF42;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 100%;
    /* zentriert */
    bottom: 150px;
    transform: translate(-50%, 100%);
    opacity: 0;
    border: solid 1px #F8F7E5;
    border-radius: 4px;
    transition: transform 0.5s cubic-bezier(.21, 1.11, .84, .86), opacity 0.35s;


    @media screen and (max-width: 1516px) {
        top: -232px;
    }

    @media screen and (max-width: 1247px) {
        top: -343px;
        left: 72%;
    }

    @media screen and (max-width: 510px) {
        left: 50%;
    }

    @media screen and (max-height: 800px) {

        top: -284px;

    }

    h2 {
        font-family: 'quicksandBold';
        font-weight: 700;
        font-size: clamp(18px, 2vw, 24px);
        text-align: center;
        padding: 0px;
    }

    span {
        font-family: 'quicksandBook';
        font-weight: 100;
        padding-bottom: clamp(6px, 1.2vw, 10px);
        font-size: clamp(12px, 1.2vw, 14px);
        text-align: center;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            padding: 0 10px;

            img {
                width: clamp(30px, 4vw, 40px);
                height: clamp(30px, 4vw, 40px);
            }

            span {
                padding-top: clamp(6px, 1.2vw, 10px);
            }
        }
    }
}

.mindset-icon:hover+.growth-mindset-container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -167px);
}


.img-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
    top: 352px;
    width: 39%;

    @media screen and (max-width: 1516px) {

        top: 611px;
    }

    @media screen and (max-width: 1023px) {
        top: 716px;
    }

    @media screen and (max-width: 510px) {
        align-items: start;
        justify-content: end;
        top: 0;
        width: 100%;
    }
}

.mindset-icon {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(60px, 8vw, 120px);
    height: clamp(60px, 8vw, 120px);
    bottom: 24px;

    @media screen and (max-height: 1023px) {
        bottom: 60px;
    }

}

.skillsetImg {
    width: 100%;
    height: auto;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

.learning-emoji {
    position: absolute;
    bottom: 29%;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(20px, 3vw, 50px);
    height: auto;
    cursor: pointer;
}