.main-content {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: row;
    min-height: 100dvh;
    min-height: calc(var(--vh, 1vh) * 100);
    max-width: 2040px;
    width: 100vw;
    position: relative;
    margin: 0 auto;
    padding-top: 3.5rem;

    @media screen and (max-width: 690px) {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    @media (max-height: 700px) {
        max-width: 1500px;
    }
}

.text-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    padding-top: clamp(4px, 2vw, 150px);

    @media screen and (max-width: 690px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 4px;
        padding-bottom: 20px;
    }
}

.text {
    width: 100%;
    height: max-content;
    color: #F8F7E5;
    background-color: #679AAC;
    padding: clamp(16px, 2vw, 32px);
    font-size: clamp(16px, 1.5vw, 18px);
    font-family: 'quicksandBook';
    font-weight: 100;
    max-width: 800px;

    @media screen and (max-width: 690px) {
        width: 100%;
    }
}

.growth-mindset-container {
    width: clamp(260px, 40vw, 360px);
    height: auto;
    padding: 16px;
    background-color: #f39200;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    position: relative;
    left: 113%;
    bottom: 150px;
    transform: translate(-50%, 100%);
    opacity: 0;
    border: solid 1px #F8F7E5;
    border-radius: 4px;
    transition: transform 0.5s cubic-bezier(.21, 1.11, .84, .86), opacity 0.35s;


    @media screen and (max-width: 1062px) {
        left: 138%;
    }

    @media screen and (max-width: 690px) {
        position: absolute;
        left: 116%;
        bottom: -43px;
    }

    @media screen and (max-height: 1170px) {

        @media screen and (max-width: 1062px) {
            left: 138%;
        }

        @media screen and (max-width: 690px) {
            position: absolute;
            left: 122%;
            bottom: -43px;
        }
    }

    @media screen and (max-height: 994px) {
        bottom: 40px;

        @media screen and (max-width: 1230px) {
            left: 138%;
        }

        @media screen and (max-width: 690px) {
            position: absolute;
            left: 120%;
        }

        @media screen and (max-width: 480px) {
            left: 110%;
        }
    }

    h2 {
        font-family: 'quicksandBold';
        font-weight: 700;
        font-size: clamp(18px, 2vw, 24px);
        text-align: center;
        padding: 0px;
        color: #F8F7E5;
    }

    span {
        font-family: 'quicksandBook';
        font-weight: 100;
        padding-bottom: clamp(6px, 1.2vw, 10px);
        font-size: clamp(16px, 1.5vw, 20px);
        align-items: stretch;
        text-align: justify;
        color: #F8F7E5;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            padding: 0 10px;

            img {
                width: clamp(30px, 4vw, 40px);
                height: clamp(30px, 4vw, 40px);
            }

            span {
                padding-top: clamp(6px, 1.2vw, 10px);
            }
        }
    }
}

.mindset-icon:hover+.growth-mindset-container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-423px, -101px);

    @media screen and (max-width: 850px) {
        transform: translate(-348px, -248px);

    }

    @media screen and (max-width: 690px) {
        transform: translate(-47%, -152%);
    }

    @media screen and (max-height: 1270px) {
        transform: translate(-423px, 2px);

        @media screen and (max-width: 850px) {
            transform: translate(-348px, -248px);
        }

        @media screen and (max-width: 690px) {
            transform: translate(-50%, -44%);
        }
    }
}


.img-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 39%;
    position: absolute;
    bottom: 231px;
    left: 20px;

    @media screen and (max-width: 690px) {
        bottom: 0px
    }

    @media screen and (max-height: 1270px) {
        bottom: 0px;
    }
}

.mindset-icon {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(60px, 8vw, 120px);
    height: clamp(60px, 8vw, 120px);
    bottom: 24px;
}

.skillsetImg {
    width: 100%;
    height: auto;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

.learning-emoji {
    position: absolute;
    bottom: 29%;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(20px, 3vw, 50px);
    height: auto;
    cursor: pointer;
}

.close-btn {
    padding: 0;
    display: none;
    border: none;
    background-color: #f39200;
    justify-content: end;
    align-items: end;
    width: 100%;

    @media screen and (max-width: 690px) {
        display: flex;
        cursor: pointer;
        bottom: 20px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .close-btn {
        display: none;
    }
}