<div class="main-content">
    <h1>Core Competencies</h1>
    <span class="text">Emphasise that you have used a variety of front-end technologies
        in your projects. Where have you used these
        skills: static or dynamic websites, responsive layouts, data
        visualization interfaces, smooth user
        experiences?</span>
    <div class="skillset-container">
        <div class="icon-section">
            <div>
                <span>HTML</span>
                <img src="assets/img/html.png" alt="HTML5 Icon" class="skill-icon">
            </div>
            <div>
                <span>CSS</span>
                <img src="assets/img/css.png" alt="css Icon" class="skill-icon">
            </div>
            <div>
                <span>JavaScript</span>
                <img src="assets/img/JavaScript.png" alt="JavaScript Icon" class="skill-icon">
            </div>
            <div>
                <span>TypeScript</span>
                <img src="assets/img/TypeScript.png" alt="TypeScript Icon" class="skill-icon">
            </div>
            <div>
                <span>Angular</span>
                <img src="assets/img/Angular.png" alt="Angular Icon" class="skill-icon">
            </div>
            <div>
                <span>Firebase</span>
                <img src="assets/img/Firebase.png" alt="Firebase Icon" class="skill-icon">
            </div>
            <div>
                <span>Git</span>
                <img src="assets/img/Git.png" alt="Git Icon" class="skill-icon">
            </div>
            <div>
                <span>REST-API</span>
                <img src="assets/img/REST-API.png" alt="REST-API Icon" class="skill-icon">
            </div>
            <div>
                <span>SCRUM</span>
                <img src="assets/img/SCRUM.png" alt="SCRUM Icon" class="skill-icon">
            </div>
            <div>
                <span>Material Design</span>
                <img src="assets/img/Material-Design.png" alt="Material-Design Icon" class="skill-icon">
            </div>
        </div>
        <div class="img-section">
            <img src="assets/img/Component 11.png" class="skillsetImg">
            <img src="assets/img/Learning.png" class="learning-emoji">

            <div class="growth-mindset-container">
                <h2>Don't see the skill you are looking for?</h2>
                <span>Feel free to contact me. I look forward to expanding on my previous knowledge. Also I have a special interest in learning:</span>
                <div>
                    <div>
                        <span>React</span>
                        <img src="assets/img/React.png" alt="REST-API Icon" class="skill-icon">
                    </div>
                    <div>
                        <span>Vue.js</span>
                        <img src="assets/img/Vue.Js.png" alt="SCRUM Icon" class="skill-icon">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>