<div class="main-content">
  <div class="text-section">
    <h1>{{ translations.title[currentLang] }}</h1>
    <span class="text" [innerHTML]="translations.intro[currentLang]"></span>
  </div>

  <div class="skillset-container">
    <div class="icon-section">
      <div *ngFor="let skill of translations.skills">
        <span>{{ skill.labels[currentLang] }}</span>
        <img [src]="skill.icon" [alt]="skill.labels[currentLang]" class="skill-icon">
      </div>
    </div>

   
  </div>
   <div class="img-section">
      <div class="mindset-icon">
        <img src="assets/img/Component 11.png" class="skillsetImg" alt="Background shape">
        <img src="assets/img/Learning.png" class="learning-emoji" alt="Learning emoji">
      </div>

      <div class="growth-mindset-container">
        <h2>{{ translations.mindsetTitle[currentLang] }}</h2>
        <span>{{ translations.mindsetText[currentLang] }}</span>
        <div class="learning-icons">
          <div *ngFor="let learn of translations.learning">
            <span>{{ learn.labels[currentLang] }}</span>
            <img [src]="learn.icon" [alt]="learn.labels[currentLang]" class="skill-icon">
          </div>
        </div>
      </div>
    </div>
</div>
