<footer class="footer-base" [ngClass]="variant">
  <!-- Zahnräder -->
  <div class="footer-image-container">
    <img src="assets/img/Component 11.png" alt="Zahnrad links">
    <img src="assets/img/Component 12.png" alt="Zahnrad rechts">
  </div>

  <!-- Text + Links -->
  <div class="footer-content">
    <div class="footer-text">
      <span>© 2025 Stanislav Levin</span>
    </div>
    <div class="footer-links">
      <a routerLink="/impressum">Impressum</a>
      <a href="https://www.linkedin.com/in/stanislav-levin-881ab32b5" target="_blank" rel="noopener noreferrer">
        LinkedIn
      </a>
      <a href="https://github.com/StanislavLe" target="_blank" rel="noopener noreferrer">
        GitHub
      </a>
      <a routerLink="/privacy-policy">Privacy Policy</a>
    </div>
  </div>
</footer>
