/* Basis-Styles für alle Footer */
.footer-base {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 120%;
    font-family: "quicksandBook";
    max-width: 2061px;
    padding: 0px;
    padding-right: 218px;
    position: absolute;
    bottom: 160px;
    left: 20px;
    z-index: 1;

    @media screen and (max-width: 1247px) {
        padding-right: 148px;

    }

    @media screen and (max-width: 980px) {
        justify-content: start;
    }

    @media screen and (max-width: 690px) {
        padding-left: 8px;
    }

    @media screen and (max-width: 613px) {
        flex-direction: column;
        justify-content: end;
        align-items: center;
        padding: 0px;
        width: 85%;
    }

    @media screen and (max-height: 745px) {
        bottom: 84px;
    }

    @media screen and (max-height: 660px) {
        bottom: 75px;
    }

    .footer-image-container {
        position: relative;
        width: clamp(200px, 20vw, 400px);
        aspect-ratio: 2 / 1;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 900px) {
            top: 78px;
            right: 28px;
        }

        @media screen and (max-width: 690px) {
            width: unset;
            height: unset;
        }

        @media screen and (max-width: 613px) {
            right: unset;
            width: clamp(148px, 20vw, 400px);
            top: 46px;

        }

        @media screen and (max-height: 952px) {
            width: auto;
            height: clamp(140px, 16vw, 200px);
        }

        @media screen and (max-height: 810px) {
            top: 55px;
            width: auto;
            height: clamp(60px, 31vw, 120px);
        }

        @media screen and (max-height: 716px) {
            height: clamp(16px, 8vw, 45px);
            top: 63px;
        }

        @media screen and (max-height: 646px) {
            height: clamp(12px, 6vw, 32px);
            top: 63px;
        }

        img {
            position: absolute;
            max-width: 100%;
            height: auto;
        }

        img:first-of-type {
            width: 40%;
            left: 0;
            animation: spin 10s linear infinite;
        }

        img:nth-of-type(2) {
            width: 70%;
            right: 0;
            animation: spin-reverse 10s linear infinite;
        }
    }

    .footer-text {
        font-size: clamp(14px, 1.5vw, 18px);
        font-family: 'quicksandBook';
        text-align: center;
    }

    .footer-links {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
        text-align: center;

        a {
            text-decoration: none;
            font-size: 16px;
            font-family: 'quicksandBook';
            color: #F8F7E5;

            &:hover {
                color: #FF834F;
            }
        }
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 56%;
        padding: 0 20px;
        position: relative;
        top: 72px;

        @media screen and (max-width: 1370px) {
            padding: unset;
            width: 68%;
        }

        @media screen and (max-width: 980px) {
            width: 73%;
        }

        @media screen and (max-width: 850px) {
            flex-direction: column;
            justify-content: end;
        }
    }

    /* Varianten-Styles */
    &.contact {
        background: #1D1D1D;
        color: #F8F7E5;

        .footer-links a {
            color: #F8F7E5;
        }
    }

    &.impressum {
        background: #1D1D1D;
        color: #F8F7E5;
        position: relative;
        top: 103px;
        right: 92px;

        @media screen and (max-width: 900px) {
            top: 2px;
        }

        .footer-links a {
            color: #F8F7E5;
        }
    }

    &.privacy {
        background: #1D1D1D;
        color: #F8F7E5;
        position: relative;
        bottom: 70px;
        right: 92px;

        .footer-links a {
            color: #F8F7E5;
        }
    }

    &.default {
        background: #1D1D1D;
        color: #F8F7E5;

        .footer-links a {
            color: #F8F7E5;
        }
    }
}