.footer-base.home {
    width: 95vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 120%;
    font-family: "quicksandBook";
    z-index: 100;
    position: relative;
    bottom: 100%;
    max-width: 1920px;


    @media screen and (max-width: 690px) {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        bottom: -20px;
        height: 50px;
    }

    .footer-image-container {
        position: relative;
        width: clamp(150px, 20vw, 400px);
        aspect-ratio: 2 / 1;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-height: 926px) {

            @media screen and (max-width: 588px) {
                width: clamp(64px, 20vw, 400px);
                position: relative;
                top: 16px;
            }
        }

        @media screen and (max-height: 926px) {
            width: clamp(64px, 20vw, 340px);
        }

           @media screen and (max-height: 730px) {
            width: clamp(64px, 10vw, 180px);
            top: 53px;
        }
        img {
            position: absolute;
            max-width: 100%;
            height: auto;
        }

        img:first-of-type {
            width: 40%;
            left: 0;
            animation: spin 10s linear infinite;
        }

        img:nth-of-type(2) {
            width: 70%;
            right: 0;
            animation: spin-reverse 10s linear infinite;
        }
    }

    .footer-text {
        font-size: clamp(16px, 1.5vw, 18px);
        font-family: 'quicksandBook';
        text-align: center;
        color: #FF834F;
    }

    .footer-links {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
        text-align: center;
        position: relative;
        z-index: 10000;

        @media screen and (max-width: 480px) {
            width: 82%;
            flex-wrap: wrap;
        }

        @media screen and (max-height: 926px) {

            @media screen and (max-width: 588px) {
                gap: 12px;
            }
        }

        :hover {
            color: #FF834F;
        }

        a {
            text-decoration: none;
            font-size: 16px;
            font-family: 'quicksandBook';
            color: #F8F7E5;
            cursor: pointer;
            white-space: nowrap;

            :hover {
                color: #FF834F;
            }
        }
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 50%;
        position: relative;
        top: 70px;

        span {
            color: #FF834F;
        }

        @media screen and (max-width: 1230px) {
            width: 67%;
        }

        @media screen and (max-width: 900px) {
            flex-direction: column;
            gap: 8px;
            justify-content: center;
            top: 8px;
        }

        @media screen and (max-width: 690px) {
            width: 100%;
            top: 0px;
        }
    }

}


.footer-base.impressum {
    width: 95vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 120%;
    font-family: "quicksandBook";
    z-index: 100;
    position: relative;
    top: 85px;
    max-width: 1920px;


    @media screen and (max-width: 690px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 20px;
        height: 40px;
    }

    .footer-image-container {
        position: relative;
        width: clamp(150px, 18vw, 380px);
        aspect-ratio: 2 / 1;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-height: 926px) {

            @media screen and (max-width: 588px) {
                width: clamp(64px, 20vw, 380px);
            }
        }

        img {
            position: absolute;
            max-width: 100%;
            height: auto;
        }

        img:first-of-type {
            width: 40%;
            left: 0;
            animation: spin 10s linear infinite;
        }

        img:nth-of-type(2) {
            width: 70%;
            right: 0;
            animation: spin-reverse 10s linear infinite;
        }
    }

    .footer-text {
        font-size: clamp(16px, 1.5vw, 18px);
        font-family: 'quicksandBook';
        text-align: center;
        color: #FF834F;
    }

    .footer-links {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
        text-align: center;
        position: relative;
        z-index: 10000;

        @media screen and (max-width: 480px) {
            width: 82%;
            flex-wrap: wrap;
        }

        @media screen and (max-height: 926px) {

            @media screen and (max-width: 588px) {
                gap: 12px;
            }
        }

        :hover {
            color: #FF834F;
        }

        a {
            text-decoration: none;
            font-size: 16px;
            font-family: 'quicksandBook';
            color: #F8F7E5;
            cursor: pointer;
            white-space: nowrap;

            :hover {
                color: #FF834F;
            }
        }
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        position: relative;
        top: 70px;

        span {
            color: #FF834F;
        }

        @media screen and (max-width: 1230px) {
            width: 67%;
        }

        @media screen and (max-width: 900px) {
            flex-direction: column;
            gap: 8px;
            justify-content: center;
            top: 27px;
        }

        @media screen and (max-width: 690px) {
            width: 100%;
        }
    }
}