<div class="footer">
  <div class="footer-image-container">
  <img src="assets/img/Component 11.png">
  <img src="assets/img/Component 12.png">
  </div>
  <div class="footer-content">
    <div class="footer-text">
      <span>© 2025 Stanislav Levin</span>
    </div>
    <div class="footer-links">
      <a mat-list-item routerLink="/impressum">Impressum</a>
      <a href="https://www.linkedin.com/in/stanislav-levin-881ab32b5">LinkedIn</a>
      <a href="https://github.com/StanislavLe">GitHub</a>
      <a mat-list-item routerLink="/privacy-policy">Privacy Policy</a>
    </div>
  </div>
</div>