.footer-base {
    width: 98vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 120%;
    font-family: "quicksandBook";
    max-width: 2061px;
    padding: 0px;
    position: absolute;
    bottom: 256px;
    left: 20px;
    z-index: 1;

    @media screen and (max-width: 1247px) {
        padding-left: 20px;
    }

    @media screen and (max-width: 980px) {
        justify-content: start;
    }

    @media screen and (max-width: 690px) {
        padding-left: 8px;
    }

    @media screen and (max-width: 613px) {
        flex-direction: column;
        justify-content: end;
        align-items: center;
        padding: 0px;
        width: 90vw;
    }

    @media screen and (max-width: 1300px) {
        bottom: 110px;
    }

    @media screen and (max-width: 390px) {}

    @media screen and (max-height: 660px) {
        bottom: 75px;
    }

    .footer-image-container {
        position: relative;
        width: clamp(200px, 20vw, 400px);
        aspect-ratio: 2 / 1;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 900px) {
            top: 42px;
            right: 5px;
        }

        @media screen and (max-width: 690px) {
            width: unset;
            height: unset;
        }

        @media screen and (max-width: 613px) {
            right: unset;
            width: clamp(58px, 18vw, 400px);
            top: 64px;
        }


        img {
            position: absolute;
            max-width: 100%;
            height: auto;
        }

        img:first-of-type {
            width: 40%;
            left: 0;
            animation: spin 10s linear infinite;
        }

        img:nth-of-type(2) {
            width: 70%;
            right: 0;
            animation: spin-reverse 10s linear infinite;
        }
    }

    .footer-text {
        font-size: clamp(14px, 1.5vw, 18px);
        font-family: 'quicksandBook';
        text-align: center;
        color: #FF834F;
    }

    .footer-links {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
        text-align: center;
        position: relative;
        z-index: 10000;

        :hover {
            color: #FF834F;
        }

        a {
            text-decoration: none;
            font-size: 16px;
            font-family: 'quicksandBook';
            color: #F8F7E5;

            :hover {
                color: #FF834F;
            }
        }
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 56%;
        padding-right: 90px;
        position: relative;
        top: 72px;

        span {
            color: #FF834F;
        }

        @media screen and (max-width: 980px) {
            width: 73%;
        }

        @media screen and (max-width: 850px) {
            flex-direction: column;
            justify-content: end;
        }

        @media screen and (max-width: 450px) {
            width: 100%;
            padding: unset;
        }
    }

}


.footer-base.impressum {
    position: relative;
    bottom: 0px;
    left: 0px;
    background-color: #1D1D1D;
    width: 100%;
    height: 200px;
    max-width: 1900px;

    @media screen and (max-width: 505px) {
        width: 110%;
        left: -19px;
    }

    @media screen and (max-width: 450px) {
        height: 270px;
    }

    .footer-image-container {
        width: clamp(200px, 7vw, 400px);


        @media screen and (max-width: 900px) {
            top: unset;
            right: unset;
        }

        @media screen and (max-width: 685px) {
            width: clamp(130px, 7vw, 400px);
        }

        @media screen and (max-width: 613px) {
            bottom: 20px;
        }

        @media screen and (max-width: 505px) {
            bottom: 55px;
        }

    }

    .footer-content {
        top: 0px;

        span {

            @media screen and (max-width: 450px) {
                padding-bottom: 12px;
            }
        }

        @media screen and (max-width: 613px) {
            padding-right: 0px;
        }

        @media screen and (max-width: 505px) {
            top: -30px;
        }


    }


    .footer-text {
        @media screen and (max-width: 850px) {
            padding-bottom: 50px;
        }

        @media screen and (max-width: 613px) {
            padding-bottom: 8px;
        }

    }



    .footer-links {

        @media screen and (max-width: 430px) {
            gap: 12px;
        }

        @media screen and (max-width: 450px) {
            gap: 12px;
            width: 36%;
            flex-wrap: wrap;
        }
    }

}