<div class="project-card">
  <div class="img-container" [ngStyle]="{ 'background-color': color }">
    <div class="img-wrapper">
    <img class="project-preview" [src]="imageUrl" [alt]="title" />
    </div>
    <img class="orange-star" src="assets/img/Component 11.png" />
  </div>

  <div class="text-container">
    <div class="project-details">
      <div class="project-info">
        <div class="infoHeader">
          <h3>{{ title }}</h3>
          <img class="infoIcon" *ngIf="iconUrl" [src]="iconUrl" alt="" />
          <div class="hoverInfo">
            <span>{{ hoverInfo }}</span>
          </div>
        </div>

        <div class="skills">
          <p *ngFor="let skill of skillset; trackBy: trackBySkill">{{ skill }}</p>
        </div>

        <p>{{ description }}</p>
      </div>

      <div class="project-links">
        <a class="linkBtn" *ngIf="projectLink" [href]="projectLink" target="_blank" rel="noopener">
          LiveTest <img src="assets/img/8. Scroll down.png" alt="" />
        </a>
        <a class="linkBtn" *ngIf="gitHubLink" [href]="gitHubLink" target="_blank" rel="noopener">
          GitHub <img src="assets/img/8. Scroll down.png" alt="" />
        </a>
      </div>
    </div>

    <div class="navigation">
      <button type="button" (click)="onPrev()">&lt;&lt;Previous project</button>
      <button type="button" (click)="onNext()">Next project&gt;&gt;</button>
    </div>
  </div>
</div>
