<div class="project-card">

  <div class="img-container" [ngStyle]="{'background-color': color}">
    <img class="project-preview" [src]="imageUrl" [alt]="title" />
    <img class="orange-star" src="assets/img/Component 11.png">
  </div>

  <div>
    <div class="project-details">

      <div class="project-info">
        <div class="infoHeader">
          <h3>{{ title }}</h3>
          <img class="infoIcon" *ngIf="iconUrl" [src]="iconUrl">

          <div class="hoverInfo">
            <span>{{ hoverInfo }}</span>
          </div>

        </div>

        <div class="skills">
          <p *ngFor="let skill of skillset">{{ skill }}</p>
        </div>

        <p>{{ description }}</p>
      </div>



      <div class="project-links">
        <button class="linkBtn"><a *ngIf="projectLink" [href]="projectLink" target="_blank">LiveTest</a><img
            src="assets/img/8. Scroll down.png"></button>
        <button class="linkBtn"><a *ngIf="gitHubLink" [href]="gitHubLink" target="_blank">GitHub</a><img
            src="assets/img/8. Scroll down.png"></button>
      </div>


    </div>



  </div>


</div>